﻿@model Cosmos.Portal.ViewModel.AppViewModel

@{
    ViewBag.Title = "Active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Aplicativos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li>
                <a href="@Url.Action("RemovedApps", "App")">Lista de Aplicativos Removidos</a>
            </li>
            <li class="active">
                <strong>Ativar Aplicativo</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important;margin-top:1.5em">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <div style="display: inline-block; margin-left: 1%;">
                            <h3>Deseja ativar o Aplicativo?</h3>
                        </div>
                    </div>
                    <hr />
                    if (@Model.app.Logotype != null)
                    {
                        <div style="display: inline-block; margin-left: 1%;">
                            <img src="@Url.Content(@Model.app.Logotype)" alt="Image" style="width: 4em; height: 4em" />
                            @*<img src='data:image/jpeg;base64,@item.Logotype' style="width: 4em; height: 4em"/>*@
                        </div>
                    }
                    else
                    {
                        <div style="display: inline-block; margin-left: 1%;">

                            ---
                        </div>

                    }
                    <div style="display: inline-block; margin-left: 1%;">
                        <h3>@Model.app.Name</h3>
                    </div>
                    <hr />

                    <dl class="dl-horizontal"></dl>


                    <div class="form-actions no-color">
                        <input type="submit" value="Ativar" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
