﻿@model Cosmos.Portal.ViewModel.AppViewModel

@{
    ViewBag.Title = "Downgrade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Aplicativos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li>
                <a href="@Url.Action("List", "App")">Lista de Aplicativos</a>
            </li>
            <li class="active">
                @if (Model.app.ActiveVersion > Model.appVersion.VersionCode)
                {
                    <strong>Downgrade de Aplicativo</strong>
                }
                else
                {
                    <strong>Ativação de Aplicativo</strong>}
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="form-horizontal">

        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" style="background-color:transparent!important; border:none!important;margin-top:1.5em">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        if (Model.app.ActiveVersion > Model.appVersion.VersionCode)
                        {
                            <div class="form-group">
                                <div style="display: inline-block; margin-left: 1%;">
                                    <h3>Deseja realizar o downgrade do Aplicativo?</h3>
                                </div>
                            </div>
                            <hr />
                            if (@Model.app.Logotype != null)
                            {
                                <div class="form-group">
                                    <img src="@Url.Content(@Model.app.Logotype)" alt="Image" style="width: 4em; height: 4em" />
                                    @*<img src='data:image/jpeg;base64,@item.Logotype' style="width: 4em; height: 4em" />*@
                                </div>
                            }
                            else
                            {
                                <div class="form-group">

                                    ---
                                </div>

                            }
                            <div class="form-group">
                                <h3>@Model.app.Name</h3>
                            </div>
                            <div class="form-group">
                                <h3>Versão: @Model.appVersion.Version </h3>
                            </div>
                            <div class="form-group">
                                <h3>Version Code: @Model.appVersion.VersionCode </h3>
                            </div>
                            <br />
                            <div class="form-group">
                                <h3>Justificativa: </h3>
                                <br />
                                @Html.EditorFor(model => model.appVersion.DowngradeJustify, new
                           {
                               htmlAttributes = new
                               {
                                   @class = "form-control",
                                   @required = "required"
                               }
                           })
                                @Html.ValidationMessageFor(model => model.appVersion.DowngradeJustify, "", new { @class = "text-danger" })
                            </div>
                            <hr />

                            <dl class="dl-horizontal"></dl>
                            <div class="form-actions no-color">
                                <input type="submit" value="Downgrade" class="btn btn-primary" />
                            </div>
                        }
                        else
                        {
                            <div class="form-group row">
                                <div style="display: inline-block; margin-left: 1%;">
                                    <h3>Deseja Ativar a versão do Aplicativo?</h3>
                                </div>
                            </div>
                            <hr />
                            if (@Model.app.Logotype != null)
                            {
                                <div style="display: inline-block; margin-left: 1%;">
                                    <img src="@Url.Content(@Model.app.Logotype)" alt="Image" style="width: 4em; height: 4em" />
                                    @*<img src='data:image/jpeg;base64,@item.Logotype' style="width: 4em; height: 4em" />*@
                                </div>
                            }
                            else
                            {
                                <div style="display: inline-block; margin-left: 1%;">

                                    ---
                                </div>

                            }
                            <div style="display: inline-block; margin-left: 1%;">
                                <h3>@Model.app.Name</h3>
                            </div>
                            <div style="display: inline-block; margin-left: 1%;">
                                <h3>Versão @Model.appVersion.Version </h3>
                                <h3>Versão @Model.appVersion.VersionCode </h3>
                            </div>
                            <hr />

                            <dl class="dl-horizontal"></dl>
                            <div class="form-actions no-color">
                                <input type="submit" value="Ativar" class="btn btn-primary" />
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>
</div>