﻿@model Cosmos.Portal.ViewModel.AppViewModel
@{
    ViewBag.Title = "EmptyPage";
}

<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Edição de Cadastro de Aplicativo</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Edição de Cadastro de Aplicativo</strong>
            </li>
        </ol>
    </div>
</div>
@using (Ajax.BeginForm("Update", "App",
                    new AjaxOptions
                    {
                        HttpMethod = "POST"
                    },
                    new
                    {
                        enctype = "multipart/form-data",
                        @class = "form-horizontal"
                    }))
{

    <form>
        <div class="form-group" style=" margin-top:1.5em">
            @Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.app.Name, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @required = "required"
               }
           })
                @Html.ValidationMessageFor(model => model.app.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group" style=" margin-top:1.5em">
            @Html.Label("Relevância", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.app.Relevance, new
           {
               htmlAttributes = new
               {
                   @class = "form-control",
                   @required = "required",
                   @min = 0,
                   @max = 10
               }
           })
                @Html.ValidationMessageFor(model => model.app.Relevance, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Descrição", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.app.Description, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }
           })
                @Html.ValidationMessageFor(model => model.app.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Descrição em Espanhol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.app.DescriptionES, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }
           })
                @Html.ValidationMessageFor(model => model.app.DescriptionES, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Descrição em Inglês", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.app.DescriptionEN, new
           {
               htmlAttributes = new
               {
                   @class = "form-control"
               }
           })
                @Html.ValidationMessageFor(model => model.app.DescriptionEN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Ícone", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.app.Logotype != null)
                {
                    <img src="@Url.Content(@Model.app.Logotype)" alt="Image" style="width: 4em; height: 4em; display: inline-block;" />
                }
                else
                {
                    <p style="width: 4em; height: 4em; display: inline-block;"> ---</p>
                }
                @Html.TextBoxFor(m => m.app.LogoTypeData,
                                  new
                                  {
                                      @class = "form-control space",
                                      @accept = "image/*",
                                      @type = "file",
                                      @style = " display: inline-block; width: 96%;"
                                  })
                @Html.ValidationMessageFor(model => model.app.LogoTypeData, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}