﻿@model Cosmos.Portal.ViewModel.AppViewModel
@{
    ViewBag.Title = "Cadastro de Aplicativo";
}
<div class="row wrapper">
    <div class="col-sm-12">
        <h2>Cadastro de Aplicativo</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Cadastro de Aplicativo</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important">
                <div class="row">
                    @using (Ajax.BeginForm("Add", "App",
                   new AjaxOptions
                   {
                       HttpMethod = "POST"
                   },
                   new
                   {
                       enctype = "multipart/form-data",
                       @class = "form-horizontal"
                   }))
                    {
                    <form class="form-horizontal" id="frmAdd">

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Categoria</label>
                                @Html.DropDownListFor(model => model.app.CategoryId,
                                   new SelectList(Model.categories, "Id", "Description"), "Selecione a categoria do aplicativo",
                                   new { @id = "cboCategory", @class = "form-control",
                                   @required = "required"
                           })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Nome</label>

                                @Html.TextBoxFor(m => m.app.Name,
                                    new
                                    {
                                    @class = "form-control space",
                                    @required = "required",
                                    @id = "iName"
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Relevância</label>

                                @Html.TextBoxFor(m => m.app.Relevance,
                                    new
                                    {
                                    @class = "form-control space",
                                    @type= "number",
                                    @required = "required",
                                    @min = 0,
                                    @max = 10
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Icone </label>
                                @Html.TextBoxFor(m => m.app.LogoTypeData,
                                    new
                                    {
                                        @class = "form-control space",
                                        @type = "file",
                                        @accept = "image/*",
                                        @required = "required"
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Package Name</label>
                                @Html.TextBoxFor(m => m.app.PackageName,
                                    new
                                    {
                                        @class = "form-control space",
                                        @required = "required"
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Version Name</label>
                                @Html.TextBoxFor(m => m.appVersion.Version,
                                    new
                                    {
                                    @class = "form-control space",
                                    @required = "required",
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Version Code</label>
                                @Html.TextBoxFor(m => m.appVersion.VersionCode,
                                    new
                                    {
                                    @class = "form-control space",
                                    @type = "number",
                                    @required = "required"
                                    })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Descrição</label>
                                @Html.TextAreaFor(m => m.app.Description,
                                    new
                                    {
                                    @class = "form-control space"
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Descrição em Espanhol</label>
                                @Html.TextAreaFor(m => m.app.DescriptionES,
                                    new
                                    {
                                    @class = "form-control space"
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Descrição em Inglês</label>
                                @Html.TextAreaFor(m => m.app.DescriptionEN,
                                    new
                                    {
                                    @class = "form-control space"
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Apk </label>
                                @Html.TextBoxFor(m => m.appVersion.ApkData,
                                    new
                                    {
                                        @class = "form-control space",
                                        @accept = ".apk",
                                        @type = "file",
                                        @required = "required"
                                    })
                            </div>
                        </div>
                        <div class="col-sm-offset-0">
                            <button class="btn btn-primary medio" id="btnSubmit">Salvar</button>
                        </div>
                    </form>
                    }

                 
                </div>
            </div>
        </div>
    </div>

    @section Styles {
        @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
    }

    @section Scripts {
        @Scripts.Render("~/plugins/iCheck")
        @Scripts.Render("~/plugins/jasnyBootstrap")
        @Scripts.Render("~/plugins/inputMask")
        @Scripts.Render("~/plugins/cbotUserTypeMethods")
        @Scripts.Render("~/plugins/validate")



        <script type="text/javascript">
            $(document).ready(function () {
               
                $("#frmAdd").validate();
                $('#frmAdd').on('submit', function (event) {
                    event.preventDefault();
                    $.ajax({
                        type: "POST",
                        url: '/App/Add',
                        data: $('#frmAdd').serialize(),
                        success: function (response) {
                            if (response.result == "Fail") {
                                toastr.error(response.msg, "Cadastro de Aplicativo");
                            } else {

                                toastr.success(response.msg, "Cadastro de Aplicativo");

                                var interval_ = setInterval(function () {
                                    clearInterval(interval_);
                                    window.location = response.url;
                                }, 3000);
                            }
                        },
                        error: function (result) {
                            console.log( result);
                        }
                    })
                });
            });


            //validation

            $('#iName').on("blur", function () {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: '/App/NameValidator?Name=' + $('#iName').val(),
                    data: "",
                    success: function (response) {
                        if (response.result == "fail") {
                            toastr.error(response.msg, "Validação de Dados");
                            $('#' + controlName).focus();
                        }  
                        }
                    }
                )
                
            });

            ////Linkando botão submit com form
            $('#btnSubmit').on('click', function () {
                $('#frmAdd').submit();
            });
        </script>
    }
