﻿@model Cosmos.Portal.ViewModel.AppViewModel
@{
    ViewBag.Title = "EmptyPage";
}

<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Aplicativos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li>
                <a href="@Url.Action("List", "App")">Lista de Aplicativos</a>
            </li>
            <li class="active">
                <strong>Detalhes do Aplicativo</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important;margin-top:1.5em">
                <div class="form-group row">
                    @if (@Model.app.Logotype != null)
                    {
                        <div style="display: inline-block; margin-left: 1%;">
                            <img src="@Url.Content(@Model.app.Logotype)" alt="Image" style="width: 4em; height: 4em" />
                            @*<img src='data:image/jpeg;base64,@item.Logotype' style="width: 4em; height: 4em" />*@
                        </div>
                    }
                    else
                    {
                        <div style="display: inline-block; margin-left: 1%;">

                            ---
                        </div>

                    }
                    <div style="display: inline-block; margin-left: 1%;">
                        <h3>@Model.app.Name</h3>
                    </div>
                </div>
                <div class="form-group row">
                    <div>
                        <h3 style="margin-left:15px">
                            Categoria
                        </h3>
                    </div>
                    <div class="col-sm-8">
                        <label>@Model.app.Category.Description</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div>
                        <h3 style="margin-left:15px">
                            Data Inclusão
                        </h3>
                    </div>
                    <div class="col-sm-8">
                        <label>@Model.app.InclusionDate</label>
                    </div>
                </div>
                <div class="form-group row">
                    <div>
                        <h3 style="margin-left:15px">
                            Versão
                        </h3>
                    </div>
                    <div class="col-sm-8">
                        @if (Model.app.Versions != null && Model.app.Versions.Count > 0 && Model.app.Versions.Where(v => v.Active).Count() > 0)
                        {
                            <label>
                                @Model.app.Versions.Single(v => v.Active).Version
                            </label>
                        }
                        else
                        {
                            <label>@Model.app.ActiveVersion</label>
                        }
                    </div>
                </div>
                <div class="form-group row">
                    <div>
                        <h3 style="margin-left:15px">
                            Número de downloads/instalações
                        </h3>
                    </div>
                    <div class="col-sm-8">
                        <label>@Model.app.DownloadedTimes / @Model.app.InstalledTimes</label>
                    </div>
                </div>

                <div class="form-group row">
                    <div>
                        <h3 style="margin-left:15px">
                            Versões <a href="/AppVersion/Add?AppId=@Model.app.Id" class="btn btn-primary btn-xs" style="margin-left: 10px;">Adicionar Versão</a>
                            @*@Html.ActionLink("Adicionar Versão", "", "AppVersion", new { @class = "btn btn-primary btn-xs", @style = "margin-left: 10px;" })*@
                        </h3>
                    </div>
                    <div style="Padding:1em">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <table class="table table-striped table-bordered table-hover dataTable">
                                <thead>
                                    <tr>
                                        <th class="text-left">Version Name</th>
                                        <th class="text-left">Descrição</th>
                                        <th class="text-left">Data de inserção</th>
                                        <th class="text-left">Número de downloads/instalações</th>
                                        <th class="text-left">Número de centrais com aquela versão ainda instalada</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Ações</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (@Model.app.Versions != null)
                                    {
                                        foreach (var item in @Model.app.Versions)
                                        {
                                            <tr>
                                                <td class="text-left">@item.Version</td>
                                                <td class="text-left">@item.ReleaseNote</td>
                                                <td class="text-left">@item.ReleaseDate</td>
                                                <td class="text-left">@item.DownloadCount / @item.InstalledCount</td>
                                                <td class="text-left">@item.ActiveCount</td>
                                                <td class="text-left" id='@item.Id'>@(@item.Active == false ? "Inativo" : "Ativo")</td>
                                                @if (item.Active == false)
                                                {
                                                    <td class="text-center">@Html.ActionLink("Editar", "Edit", "AppVersion", new { VersionID = @item.Id }, new { @class = "btn btn-primary btn-xs" }) @Html.ActionLink("Ativar", "Downgrade", "App", new { VersionID = @item.Id }, new { @class = "btn btn-primary btn-xs" }) </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">@Html.ActionLink("Editar", "Edit", "AppVersion", new { VersionID = @item.Id }, new { @class = "btn btn-primary btn-xs" })  </td>}
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {

    <script type="text/javascript">

        function Active(id) {
            console.log(id);
            event.preventDefault();
            $.ajax({
                url: '/App/ActiveVersion?VersionID=' + id,
                type: "POST",
                success:
                    function (response) {
                        $('td:contains(Ativo)').text('Inativo');
                        $("#" + id).text('Ativo');

                        toastr.success("App Ativado com sucesso",
                            "Ativação do APP");
                    },
                error: function (response) {
                    toastr.error("Não foi possível se comunicar com o servidor.", "Ativação do APP");

                }
            });
        }
    </script>
}