﻿@*@{
        ViewBag.Title = "RemovedApps";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>RemovedApps</h2>*@



@model Cosmos.Portal.ViewModel.AppViewModel
@{
    ViewBag.Title = "Aplicativos Removidos";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-sm-4">
        <h2>Aplicativos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Lista de Aplicativos Removidos</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="html5buttons">
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="text-center">Ícone</th>
                                <th class="text-center">Nome</th>
                                <th class="text-center">Versão Ativa</th>
                                <td class="text-center">Package Name</td>
                                <td class="text-center">Data de Inserção</td>
                                <th class="text-center">Data da Última Atualização</th>
                                <th class="text-center">Número de downloads/instalações/desinstalações</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.apps != null)
                            {
                                foreach (var item in @Model.apps)
                                {
                                    <tr>

                                        @if (item.Logotype != null)
                                        {
                                            <td class="text-center">
                                                <img src="@Url.Content(@item.Logotype)" alt="Image" style="width: 4em; height: 4em" />
                                                @*<img src='data:image/jpeg;base64,@item.Logotype' style="width: 4em; height: 4em"/>*@
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">

                                                ---
                                            </td>

                                        }

                                        <td class="text-center">@item.Name</td>

                                        @if (item.Versions != null && item.Versions.Count > 0)
                                        {
                                            <td class="text-center">@item.Versions.Last().Version</td>
                                        }
                                        else
                                        {
                                            <td class="text-center">@item.ActiveVersion</td>
                                        }
                                        <td class="text-center">@item.PackageName</td>
                                        <td class="text-center">@item.InclusionDate</td>
                                        @if (item.LastUpdate != DateTime.MinValue)
                                        {
                                            <td class="text-center">@item.LastUpdate</td>
                                        }
                                        else
                                        {
                                            <td class="text-center"> --- </td>

                                        }

                                        <td class="text-center">@item.DownloadedTimes / @item.InstalledTimes / @item.UninstalledTimes</td>
                                        <td class="text-center">@Html.ActionLink("Ativar", "Active", "App", new { AppId = @item.Id }, new { @class = "btn btn-primary btn-xs" }) </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialog" title="Confirmation Required">
    Are you sure about this?
</div>


@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts
	{
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            //datagrid
            $('.dataTable').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[1, "desc"]],
                language:
                    {
                        sEmptyTable: "Nenhum registro encontrado",
                        sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
                        sInfoFiltered: "(Filtrados de _MAX_ registros)",
                        sInfoPostFix: "",
                        sInfoThousands: ".",
                        sLengthMenu: "_MENU_ resultados por página",
                        sLoadingRecords: "Carregando...",
                        sProcessing: "Processando...",
                        sZeroRecords: "Nenhum registro encontrado",
                        sSearch: "Pesquisar",
                        oPaginate: {
                            sNext: "Próximo",
                            sPrevious: "Anterior",
                            sFirst: "Primeiro",
                            sLast: "Último"
                        },
                        oAria:
                            {
                                sSortAscending: "Ordenar colunas de forma ascendente",
                                sSortDescending: "Ordenar colunas de forma descendente"
                            }
                    },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Lista de Aplicativos' },
                    { extend: 'pdf', title: 'Lista de Aplicativos' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        }


        );
    </script>
}