﻿@model Cosmos.Portal.ViewModel.AppViewModel

@{
    ViewBag.Title = "Remove";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Aplicativos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li>
                <a href="@Url.Action("List", "App")">Lista de Aplicativos</a>
            </li>
            <li class="active">
                <strong>Remover Aplicativo</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important;margin-top:1.5em">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <div style="display: inline-block; margin-left: 1%;">
                            <h3>Deseja remover o Aplicativo?</h3>
                        </div>
                    </div>
                    <hr />
                    if (@Model.app.Logotype != null)
                    {
                        <div style="display: inline-block; margin-left: 1%;">
                            <img src="@Url.Content(@Model.app.Logotype)" alt="Image" style="width: 4em; height: 4em" />
                            @*<img src='data:image/jpeg;base64,@item.Logotype' style="width: 4em; height: 4em"/>*@
                        </div>
                    }
                    else
                    {
                        <div style="display: inline-block; margin-left: 1%;">

                            ---
                        </div>

                    }
                    <div style="display: inline-block; margin-left: 1%;">
                        <h3>@Model.app.Name</h3>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div>
                            <h3 style="margin-left:15px"></h3>
                        </div>
                        <div class="col-sm-8">
                            @Html.CheckBoxFor(m => m.app.RemoveFromCentral, new
                       {
                           htmlAttributes = new
                           {
                               @class = "form-control",
                               @required = "required"
                           }
                       })  Remover da Central?
                        </div>
                    </div>
                    <hr />

                    <dl class="dl-horizontal"></dl>


                    <div class="form-actions no-color">
                        <input type="submit" value="Remover" class="btn btn-danger" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>
