﻿@model List<Cosmos.Model.ApplicationSuggestion>
@{
    ViewBag.Title = "Lista de sugestões de Aplicativos";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-sm-4">
        <h2>Aplicativos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Lista de sugestões de Aplicativos</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="html5buttons">
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="text-center">Data/Hora</th>
                                <th class="text-center">Sugestão</th>
                                <th class="text-center">Usuário</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">@string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.DtCreated)</td>
                                        <td class="text-left">@item.Suggestion</td>
                                        <td class="text-left">@item.User.Name</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts
	{
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            //datagrid
            $('.dataTable').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[1, "desc"]],
                language:
                    {
                        sEmptyTable: "Nenhum registro encontrado",
                        sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
                        sInfoFiltered: "(Filtrados de _MAX_ registros)",
                        sInfoPostFix: "",
                        sInfoThousands: ".",
                        sLengthMenu: "_MENU_ resultados por página",
                        sLoadingRecords: "Carregando...",
                        sProcessing: "Processando...",
                        sZeroRecords: "Nenhum registro encontrado",
                        sSearch: "Pesquisar",
                        oPaginate: {
                            sNext: "Próximo",
                            sPrevious: "Anterior",
                            sFirst: "Primeiro",
                            sLast: "Último"
                        },
                        oAria:
                            {
                                sSortAscending: "Ordenar colunas de forma ascendente",
                                sSortDescending: "Ordenar colunas de forma descendente"
                            }
                    },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Lista de Aplicativos' },
                    { extend: 'pdf', title: 'Lista de Aplicativos' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        }

        );
    </script>
}