﻿<nav class="navbar-default navbar-static-side" role="navigation" id="NavigationControl">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <di>
                    <span>

                        <img alt="Intelbras" src="~/Images/logotipo.png" style="height:2.5em" />
                    </span>
                </di>
            </li>

            <li class="@Html.IsSelected(controller: "Home")">
                <a href="@Url.Action("Index", "Home")" class="navItem"><i class="fa fa-dashboard"></i> <span class="nav-label" data-i18n="nav.dashboard">Principal</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "User")">
                <a href="#"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.graphs">Usuários</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "User", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Novo Usuário")"><a href="@Url.Action("Form", "User")" class="navItem">Novo Usuário</a></li>
                    <li class="@Html.IsSelected(action: "Listar")"><a href="@Url.Action("List", "User")" class="navItem">Listar</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Brand") requerValidacaoConfiguracoes">
                <a href="#"><i class="fa fa-drivers-license"></i> <span class="nav-label" data-i18n="nav.graphs">Montadoras</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Brand", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Cadastrar")"><a href="@Url.Action("Form", "Brand")">Nova Montadora</a></li>
                    <li class="@Html.IsSelected(action: "Listar")"><a href="@Url.Action("List", "Brand")">Listar</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "TermsAndConditions") requerValidacaoConfiguracoes">
                <a href="#"><i class="fa fa-file-pdf-o"></i> <span class="nav-label" data-i18n="nav.graphs">Termos e Privacidade</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "TermsAndConditions", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Cadastrar")"><a href="@Url.Action("Form", "TermsAndConditions")">Novo Termo </a></li>
                    <li class="@Html.IsSelected(action: "Listar")"><a href="@Url.Action("Index", "TermsAndConditions")">Listar</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "App") requerValidacaoConfiguracoes">
                <a href="#"><i class="fa fa-apple"></i> <span class="nav-label" data-i18n="nav.graphs">Aplicativos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "App", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Cadastrar")"><a href="@Url.Action("Form", "App")">Novo Aplicativo</a></li>
                    <li class="@Html.IsSelected(action: "Listar")"><a href="@Url.Action("List", "App")">Listar</a></li>
                    <li class="@Html.IsSelected(action: "Listar")"><a href="@Url.Action("RemovedApps", "App")">Listar Inativos</a></li>
                    <li class="@Html.IsSelected(action: "SuggestionList")"><a href="@Url.Action("SuggestionList", "App")">Sugestões de Aplicativos</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Category") requerValidacaoConfiguracoes">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.graphs">Categorias</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Category", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Cadastrar")"><a href="@Url.Action("Form", "Category")">Nova Categoria</a></li>
                    <li class="@Html.IsSelected(action: "Listar")"><a href="@Url.Action("List", "Category")">Listar</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Vehicle") requerValidacaoConfiguracoes">
                <a href="#"><i class="fa fa-car"></i> <span class="nav-label" data-i18n="nav.graphs">Veículos</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Vehicle", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Cadastrar")"><a href="@Url.Action("Form", "Vehicle")">Novo Veículo</a></li>
                    <li class="@Html.IsSelected(action: "Listar")"><a href="@Url.Action("List", "Vehicle")">Listar</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "SO") requerValidacaoConfiguracoes">
                <a href="#"><i class="fa fa-car"></i> <span class="nav-label" data-i18n="nav.graphs">SO</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "SO", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Cadastrar")"><a href="@Url.Action("Form", "SO")">Novo SO</a></li>
                    <li class="@Html.IsSelected(action: "Listar")"><a href="@Url.Action("List", "SO")">Listar</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Message") requerValidacaoConfiguracoes">
                <a href="#"><i class="fa fa-car"></i> <span class="nav-label" data-i18n="nav.graphs">Mensagens</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Message", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Listar")"><a href="@Url.Action("List", "Message")">Listar</a></li>
                </ul>
            </li>
            @* }*@
        </ul>
    </div>
</nav>

@Scripts.Render("~/bundles/jquery")

<script>

    $(document).ready(function () {

    });
</script>