﻿
<div id="etabs-tab-container" class="etabs-tab-container">
    <ul class='etabs'>
        <li class='etabs-tab'><a href="#tabDiario">Diário</a></li>
        <li class='etabs-tab'><a href="#tabMensal">Mensal</a></li>
    </ul>
    <div class="etabs-panel-container">

        <div id="tabDiario" style="padding:20px">

            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-crosshairs"></i>
                        </div>
                        <a href="#" class="forum-item-title"> Total de Ocorrências sem direcionamento</a>
                        <div class="forum-sub-title">Ocorrências que forma abertas, mas que ainda não foram direcionadas ao atendimento.</div>
                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.SemDirecionamento.ToString()</strong>
                        </span>

                    </div>
                </div>
            </div>

            <div class="forum-item active">

                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <a href="#" class="forum-item-title"> Total de Ocorrências Abertas</a>
                        <div class="forum-sub-title">Ocorrências que forma abertas no CRM.</div>

                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.Abertas.ToString()</strong>
                        </span>

                    </div>
                </div>
            </div>

            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-flag-checkered"></i>
                        </div>
                        <a href="#" class="forum-item-title">Total de Ocorrências Fechadas</a>
                        <div class="forum-sub-title">Ocorrências já atendidas pelos técnicos.</div>
                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.Fechadas.ToString()</strong>
                        </span>

                    </div>
                </div>
            </div>

            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-bullseye"></i>
                        </div>
                        <a href="#" class="forum-item-title">Total de Ocorrências Dentro do SLA</a>
                        <div class="forum-sub-title">Ocorrências atendidas dentro do tempo esperado no SLA.</div>
                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.DentroSLA.ToString()</strong>
                        </span>

                    </div>
                </div>
            </div>

            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-ambulance"></i>
                        </div>
                        <a href="#" class="forum-item-title">Total de Ocorrências Fora do SLA</a>
                        <div class="forum-sub-title">Ocorrências que não foram atendidas dentro do prazo estipulado no SLA.</div>
                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.ForaSLA.ToString()</strong>
                        </span>

                    </div>
                </div>
            </div>
        </div>

        <div id="tabMensal" style="padding:20px">
            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-crosshairs"></i>
                        </div>
                        <a href="#" class="forum-item-title"> Total de Ocorrências sem direcionamento</a>
                        <div class="forum-sub-title">Ocorrências que forma abertas, mas que ainda não foram direcionadas ao atendimento.</div>
                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.SemDirecionamento.ToString()</strong>
                        </span>

                    </div>
                </div>
            </div>

            <div class="forum-item active">

                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-bullhorn"></i>
                        </div>
                        <a href="#" class="forum-item-title"> Total de Ocorrências Abertas</a>
                        <div class="forum-sub-title">Ocorrências que forma abertas no CRM.</div>

                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.Abertas.ToString()</strong>
                        </span>

                    </div>
                </div>
            </div>

            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-flag-checkered"></i>
                        </div>
                        <a href="#" class="forum-item-title">Total de Ocorrências Fechadas</a>
                        <div class="forum-sub-title">Ocorrências já atendidas pelos técnicos.</div>
                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.Fechadas.ToString()</strong>
                        </span>
                    </div>
                </div>
            </div>

            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-bullseye"></i>
                        </div>
                        <a href="#" class="forum-item-title">Total de Ocorrências Dentro do SLA</a>
                        <div class="forum-sub-title">Ocorrências atendidas dentro do tempo esperado no SLA.</div>
                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.DentroSLA.ToString()</strong>
                        </span>
                    </div>
                </div>
            </div>

            <div class="forum-item active">
                <div class="row">
                    <div class="col-md-9">
                        <div class="forum-icon">
                            <i class="fa fa-ambulance"></i>
                        </div>
                        <a href="#" class="forum-item-title">Total de Ocorrências Fora do SLA</a>
                        <div class="forum-sub-title">Ocorrências que não foram atendidas dentro do prazo estipulado no SLA.</div>
                    </div>

                    <div class="col-md-1 forum-info pull-right">
                        <span class="views-number">
                            <strong>@Model.MonthlySum.ForaSLA.ToString()</strong>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
