﻿<div class="spiner-example" id="processingContainer" style="width:100%;height:100%;z-index:100000;position:absolute;background-color:rgba(13, 81, 25, 0.0);">
    <div class="sk-spinner  sk-spinner-fading-circle" style="width:60px;height:60px;position:absolute;bottom:10%;left:48%;text-align:center;">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
</div>
