﻿<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                @try
                {
                    @(Cosmos.Portal.Helpers.SessionContext.UserData.Name)

                }
                catch (Exception ex)
                {
                    Response.Redirect("~/ErrorHandler/Index");
                }
            </li>
            <li>
                <a href="@Url.Action("Index", "Login")" style="color:#fff !important" id="btLogOut">
                    <i class="fa fa-sign-out"></i> Sair
                </a>
            </li>
        </ul>
    </nav>
</div>
@section Scripts {

    @Scripts.Render("~/bundles/jquery")

    <script>
        $(document).ready(function () {
            $('#btLogOut').on('click', function () {
                $.ajax({
                    type: "GET",
                    url: '/Login/Logout',
                    success: function (response) {
                        window.location = "/Login/Index";
                    }
                })
            });
        });
    </script>
}