﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Disruptiv</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <style>
        div {
            color: White !important
        }
    </style>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
</head>

<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h2>Atenção</h2>
        <h3 class="font-bold text-white"></h3>

        <div class="error-desc">

            <h3>@TempData["ErrorMessage"]</h3>

            @*<form class="form-inline m-t" role="form" action="~/Login/Index" id="frmRedirect">*@
            <div class="form-group row" style="text-align:center;margin-top:3em">
                <button id="btBack" type="button" class="btn btn-inverse">Retornar</button>
            </div>
            @*</form>*@
        </div>
    </div>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        $('#btBack').click(function () {
            window.history.go(-1);
        });
    });
</script>