﻿.skin-intelbras .nav-custom.nav-tabs-custom > li.active > a 
{
    color: #555;
}

.skin-intelbras .nav-custom > li.active > a {
    color: #fff;
    background-color: #00A335 !important;
}


.tabs-container-custom .nav-tabs-custom > li.active > a,
.tabs-container-custom .nav-tabs-custom > li.active > a:hover,
.tabs-container-custom .nav-tabs-custom > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
}

.tabs-container-custom .nav-tabs-custom > li.active > a,
.tabs-container-custom .nav-tabs-custom > li.active > a:hover,
.tabs-container-custom .nav-tabs-custom > li.active > a:focus {
    border: 1px solid #e7eaec;
    border-bottom-color: transparent;
    background-color: #fff;
}

.skin-intelbras .nav-custom > li > a {
    color: #fff;
    font-weight: normal !important;
}

.nav-tabs-custom > li.active > a,
.nav-tabs-custom > li.active > a:hover,
.nav-tabs-custom > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: #dddddd #dddddd rgba(0, 0, 0, 0);
    border-bottom: #f3f3f4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.nav-custom > li.active > a {
    color: #ffffff;
}

.nav-tabs-custom > li.active > a,
.nav-tabs-custom > li.active > a:focus,
.nav-tabs-custom > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs-custom > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}

.nav-custom > li > a {
    color: #a7b1c2;
    font-weight: 600;
    padding: 14px 20px 14px 25px;
}

.nav-tabs-custom > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav-custom > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}


@media (max-width: 767px) {
    .tabs-container-custom .nav-tabs-custom > li {
        float: none !important;
    }

    .tabs-container-custom .nav-tabs-custom > li.active > a {
        border-bottom: 1px solid #e7eaec !important;
        margin: 0;
    }
}