﻿.login-container {
    margin-top: 5em !important;
}

.{
    margin-bottom: 1em !important;
}

.login-field-icon {
    margin-top: 12px !important;
    fill: white !important;
}

.login-input-field {
    float: right !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid white !important;
    height: 42px !important;
    width: 240px !important;
    padding: 3px 6px 3px 6px !important;
    color: #fff !important
}

.login-button-submit {
    margin-top:2em !important;
}

.login-password-recover-text {
    color: #fff !important
}
.confim-text {
    color: yellow !important;
    font-weight: bold !important;
}
