﻿@model Cosmos.Portal.ViewModel.AppViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="row wrapper">
            <div class="col-sm-8">
                <h2>Aplicativos</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="@Url.Action("Index", "Home")">Principal</a>
                    </li>
                    <li>
                        <a href="@Url.Action("List", "App")">Lista de Aplicativos</a>
                    </li>
                    <li class="active">
                        <strong>Nova Versão do Aplicativo</strong>
                    </li>
                </ol>
            </div>
        </div>
        @using (Ajax.BeginForm("Add", "AppVersion",
                     new AjaxOptions
                     {
                         HttpMethod = "POST"
                     },
                     new
                     {
                         enctype = "multipart/form-data",
                         @class = "form-horizontal"
                     }))
        {
            <form>
                <div class="form-group" style=" margin-top:1.5em">
                    @Html.Label("Version Name", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.appVersion.Version, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control",
                           @required = "required"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.appVersion.Version, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.appVersion.VersionCode, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.appVersion.VersionCode, new
                   {
                       htmlAttributes = new
                       {
                           @class = "form-control",
                           @required = "required"
                       }
                   })
                        @Html.ValidationMessageFor(model => model.appVersion.VersionCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Release Note", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.appVersion.ReleaseNote, new { style="width: 100%" , @class = "form-control col-md-2"} )
                        @Html.ValidationMessageFor(model => model.appVersion.ReleaseNote, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Release Note Em Espanhol", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.appVersion.ReleaseNoteES, new { style = "width: 100%", @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.appVersion.ReleaseNoteES, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Release Note em Inglês", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.appVersion.ReleaseNoteEN, new { style = "width: 100%", @class = "form-control col-md-2" })
                        @Html.ValidationMessageFor(model => model.appVersion.ReleaseNoteEN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Apk", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.appVersion.ApkData,
                                             new
                                             {
                                                 @class = "form-control space",
                                                 @accept = ".apk",
                                                 @type = "file",
                                                 @required = "required"
                                             })
                        @Html.ValidationMessageFor(model => model.appVersion.ApkData, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </form>
        }
    </div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
