﻿@model Cosmos.Portal.ViewModel.AppViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Aplicativos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li>
                <a href="@Url.Action("List", "App")">Lista de Aplicativos</a>
            </li>
            <li class="active">
                <strong>Editar versão do Aplicativo</strong>
            </li>
        </ol>
    </div>
</div>

@using (Ajax.BeginForm("Update", "AppVersion",
                      new AjaxOptions
                      {
                          HttpMethod = "POST"
                      },
                      new
                      {
                          enctype = "multipart/form-data",
                          @class = "form-horizontal"
                      }))
{
    <form>
        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.appVersion.Id)


            <div class="form-group">
                @Html.Label("Version Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.appVersion.Version, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.appVersion.Version, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Release Note", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.appVersion.ReleaseNote, new { style = "width: 100%", @class = "form-control col-md-2" })
                    @Html.ValidationMessageFor(model => model.appVersion.ReleaseNote, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Release Note em Espanhol", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.appVersion.ReleaseNoteES, new { style = "width: 100%", @class = "form-control col-md-2" })
                    @Html.ValidationMessageFor(model => model.appVersion.ReleaseNoteES, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Release Note em Inglês", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.appVersion.ReleaseNoteEN, new { style = "width: 100%", @class = "form-control col-md-2" })
                    @Html.ValidationMessageFor(model => model.appVersion.ReleaseNoteEN, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </form>
}
