﻿@model Cosmos.Portal.ViewModel.VehicleViewModel
@{
    ViewBag.Title = "Edição de veículo";
}

<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Edição de Veículo</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Edição de Veículo</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content" style="padding-bottom:0px">
            <form method="post" class="form-horizontal" action="~/Vehicle/Update" id="frmUpdate">

                @Html.HiddenFor(m => m.vehicle.Id, new { @value = @Model.vehicle.Id })
                @Html.HiddenFor(m => m.vehicle.Status, new { @id = "hdStatus" })
                @Html.HiddenFor(m => m.vehicle.BrandId, new { @id = "hdBrandId" })

                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.Partial("DropDownStatus_", Model.vehicle.Status == true ? 1 : 0)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.DropDownListFor(model => model.vehicle.BrandId, new SelectList(Model.brands, "Id", "Name"), Model.brand.Name, new { @id = "cboBrand", @class = "form-control", @required = "required" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.vehicle.Name, new { @class = "form-control space", @placeholder = "Modelo", @required = "required", @id = "iName" })
                    </div>
                </div>

                <div class="col-sm-offset-0">
                    <button type="submit" class="btn btn-primary medio">Salvar</button>
                </div>
            </form>

        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/cbotUserTypeMethods")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">

        $(document).ready(function () {

            $("#frmUpdate").submit(function (event) {

                if ($("#cboBrand").val() <= 0) {
                    toastr.warning("Escolha a montadora");
                    return false;
                }

                event.preventDefault();

                $('#hdStatus').val($('#cboStatus').val() == 0 ? false : true);
                $('#hdBrandId').val($('#cboBrand').val());

                if (confirmStatus($("#frmUpdate"))) {
                    $.ajax({
                        type: "POST",
                        url: '/Vehicle/Update',
                        data: $('#frmUpdate').serialize(),
                        success: function (response) {
                            if (response.result == "Fail") {
                                toastr.error(response.msg, "Atualização de Dados");
                            } else {

                                toastr.success(response.msg, "Atualização de Dados");

                                var interval_ = setInterval(function () {
                                    clearInterval(interval_);
                                    window.location = response.url;
                                }, 3000);

                            }
                        }
                    })
                }
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            $('#chkVehicleStatus').on('ifChanged', function (event) {
                var status = $("#chkVehicleStatus").parent('[class*="icheckbox"]').hasClass("checked");
                $("#hdVehicleStatus").val(status);
            });

            //aplica as máscaras
            $('#iTelephone').mask('(99) 99999-9999');

            //validation
            $("#frmUpdate").validate();
            $('#iName').attr("data-msg", "Informe o modelo do carro");

        });
    </script>
}
