﻿@model Cosmos.Portal.ViewModel.VehicleViewModel
@{
    ViewBag.Title = "Cadastro de Veículo";
}

<div class="row wrapper">
    <div class="col-sm-12">
        <h2>Cadastro de Veículo</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Cadastro de Veículo</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content" style="padding-bottom:0px">
            <form method="post" class="form-horizontal" action="~/Vehicle/AddNewVehicle" id="frmAddNewVehicle">

                @Html.HiddenFor(m => m.vehicle.Id, new { @id = "hdId" })
                @Html.HiddenFor(m => m.vehicle.Status, new { @id = "hdStatus" })
                @Html.HiddenFor(m => m.vehicle.BrandId, new { @id = "hdBrandId" })

                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.Partial("DropDownStatus_", -1)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.DropDownListFor(model => model.vehicle.BrandId, new SelectList(Model.brands, "Id", "Name"), "Selecione a montadora", new { @id = "cboBrand", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.vehicle.Name, new { @class = "form-control space", @placeholder = "Modelo", @required = "required", @id = "iName" })
                    </div>
                </div>

                <div class="col-sm-offset-0">
                    <button type="submit" class="btn btn-primary medio">Salvar</button>
                </div>

            </form>

        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/cbotUserTypeMethods")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function ()
        {

            $("#frmAddNewVehicle").submit(function () {
                if ($("#cboBrand").val() <= 0) {
                    toastr.warning("Escolha a montadora");
                    return false;
                }
            });

            $('#frmAddNewVehicle').on('submit', function (event) {

                event.preventDefault();

                $('#hdId').val("1");
                $('#hdStatus').val($('#cboStatus').val() == 0 ? false : true);
                $('#hdBrandId').val($('#cboBrand').val());

                if (confirmStatus($("#frmAddNewVehicle"))) {
                    $.ajax({
                        type: "POST",
                        url: '/Vehicle/AddNewVehicle',
                        data: $('#frmAddNewVehicle').serialize(),
                        success: function (response) {
                            if (response.result == "Fail") {
                                toastr.error(response.msg, "Cadastro de Veículo");
                            } else {

                                toastr.success(response.msg, "Cadastro de Veículo");

                                var interval_ = setInterval(function () {
                                    clearInterval(interval_);
                                    window.location = response.url;
                                }, 3000);
                            }
                        }
                    })
                }
            });
           
            //aplica as máscaras
            $('#iTelephone').mask('(99) 99999-9999');

            $('#chkVehicleStatus').on('ifChanged', function (event) {
                var status = $("#chkVehicleStatus").parent('[class*="icheckbox"]').hasClass("checked");
                $("#hdVehicleStatus").val(status);
            });

            //validation
            $("#formAddNewVehicle").validate();
            $('#iName').attr("data-msg", "Informe o nome do veículo");

            $('#iName').on("blur", function () {
                FieldValidate('iName', '/Vehicle/VehicleNameValidator', { VehicleName: $('#iName').val() }, "Validação de Dados");
            });
        });
    </script>
}
