﻿@model Cosmos.Portal.ViewModel.UserViewModel
@{
    ViewBag.Title = "EmptyPage";
}

<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Edição de Cadastro de Usuário</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Edição de Cadastro de Usuário</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important">
                <form method="post" class="form-horizontal" action="~/User/Update" id="frmUpdate">

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.type,
                                new SelectList(Model.types, "Id", "Description"),
                                "Selecione o tipo deste usuário",
                                new
                                {
                                    @id = "cboUserType",
                                    @class = "form-control"
                                })
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.brand,
                            new SelectList(Model.brands, "Id", "Name"),
                            "Selecione a montadora",
                            new
                            {
                                @id = "cboBrand",
                                @class = "form-control",
                                       //@disabled = "disabled"
                                   })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.Name,
                        new
                        {
                            @class = "form-control space",
                            @placeholder = "Nome",
                            @required = "required",
                            @id = "iName"
                        })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.LastName,
                        new
                        {
                            @class = "form-control space",
                            @placeholder = "Sobrenome",
                            @id = "iLastName"
                        })

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.Email,
                        new
                        {
                            @class = "form-control space",
                            @placeholder = "E-mail",
                            @required = "required",
                            @id = "iEmail"
                        })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.Telephone,
                        new
                        {
                            @class = "form-control space",
                            @placeholder = "Telefone",
                            @id = "iTelephone"
                        })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.Password,
                        new
                        {
                            @class = "form-control space",
                            @placeholder = "Senha",
                            @required = "required",
                            @id = "iPassword",
                            @type = "password"
                        })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 checkbox i-checks"><label> <input type="checkbox" value="option2" name="chkUserStatus" id="chkUserVisible"> <i></i> Visível </label></div>
                    </div>

                    <div class="col-sm-offset-0">
                        <button type="submit" class="btn btn-primary medio">Salvar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>



@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/cbotUserTypeMethods")

    <script type="text/javascript">

    $(document).ready(function () {

        $("#frmUpdate").submit(function (event) {

            if ($("#cboUserType").val() <= 0) {
                toastr.warning("Escolha o tipo de usuário");
                return false;
            }

            event.preventDefault();

            $.ajax({
                type: "POST",
                url: '/User/Update',
                data: $('#frmUpdate').serialize(),
                success: function (response)
                {
                    if (response.result == "Fail") {
                        toastr.error(response.msg, "Atualização de Dados");
                    } else {

                        toastr.success(response.msg, "Atualização de Dados");

                        var interval_ = setInterval(function () {
                            clearInterval(interval_);
                            window.location = response.url;
                        },3000);

                    }
                }
            })
        });

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });

        $('#chkUserStatus').on('ifChanged', function (event) {
            var status = $("#chkUserStatus").parent('[class*="icheckbox"]').hasClass("checked");
            $("#hUserStatus").val(status);
        });

        //aplica as máscaras
        $('#iTelephone').mask('(99) 99999-9999');

        //validation
        $("#frmUpdate").validate();
        $('#iName').attr("data-msg", "Informe o nome do novo usuário.");
        $('#iEmail').attr("data-msg", "Informe um e-mail.");
        $('#iPassword').attr("data-msg", "Informe uma senha.");

        //email validator and unique
        $('#iEmail').on("blur", function () {

            var emailContent = $('#iEmail').val();

            if (emailContent == '' && emailContent == undefined)
                return;

            $.ajax({
                type: "POST",
                url: '/User/EmailValidator',
                data: { EmailToValidate: emailContent },
                success: function (response) {
                    if (response.result == "fail") {
                        toastr.error(response.msg, "Validação de Dados");
                        $('#iEmail').focus();
                    }
                }
            })
        });
    });
    </script>
}
