﻿@model Cosmos.Portal.ViewModel.DocumentViewModel
@{
    ViewBag.Title = "Cadastro de Documento";
}
<div class="row wrapper">
    <div class="col-sm-12">
        <h2>Cadastro de Documento</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Cadastro de Documento</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content" style="padding-bottom:0px">
            <form method="post" class="form-horizontal" action="~/Document/Add" id="frmAdd">

                @Html.HiddenFor(m => m.document.Status, new { @id = "hdStatus" })
                @Html.HiddenFor(m => m.document.Id, new { @id = "hdId" })
                @Html.HiddenFor(m => m.documentType.Id, new { @id = "hdType" })
                               
                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.Partial("DropDownStatus_", -1)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.DropDownListFor(model => model.document.TypeId, new SelectList(Model.documentTypes, "Id", "Description"), "Selecione o tipo do documento", new { @id = "cboType", @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.document.Title,
             new
             {
                 @class = "form-control space",
                 @placeholder = "Título",
                 @required = "required",
                 @id = "iName"
             })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.document.Description,
             new
             {
                 @class = "form-control space",
                 @placeholder = "Descrição",
                 @required = "required",
                 @id = "iDescription"
             })
                    </div>
                </div>

            </form>
            <div class="row">
                <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Documento</h4>
                                    <div id="DropZoneContainer">
                                        <div class="col-sm-12">
                                            <form action="~/Document/DocUpload" class="dropzone col-sm-12" enctype="multipart/form-data" id="dropzoneFormDoc">
                                                <div class="fallback">
                                                    <input name="file" type="file"  multiple />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-0">
                <button class="btn btn-primary medio" id="btnSubmit">Salvar</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dropZone")
    @Scripts.Render("~/plugins/validate")


    <script type="text/javascript">
        $(document).ready(function () {

            $("#frmAdd").submit(function () {
                if ($("#cboType").val() <= 0) {
                    toastr.warning("Escolha o tipo do documento");
                    return false;
                }
            });

            Dropzone.options.dropzoneFormDoc = {
                paramName: "file",
                uploadMultiple: false,
                maxFiles: 1,
                addRemoveLinks: true,
                acceptedFiles: ".pdf,text/plain",
                dictDefaultMessage: "<strong>Arraste o PDF aqui <br/> ou clique para escolher. </strong>",
                dictRemoveFile: "Remover Documento",
                dictRemoveFileConfirmation: "Deseja remover o Documento?",
                dictMaxFilesExceeded: "É permitido apenas 1 documento por cadastro. Por favor remova o documento excedente",
            }           

            $('#frmAdd').on('submit', function (event) {

                event.preventDefault();

                $('#hdStatus').val($('#cboStatus').val() == 0 ? false : true);
                $('#hdId').val("1");
                $('#hdType').val($('#cboType').val());

                //tem que verificar se o thumbnail e o apk foram enviados corretamente.
                //Após isso libera o envio dos dados.
                if (confirmStatus($("#frmAdd"))) {
                    $.ajax({
                        type: "POST",
                        url: '/Document/Add',
                        data: $('#frmAdd').serialize(),
                        success: function (response) {
                            if (response.result == "Fail") {
                                toastr.error(response.msg, "Cadastro de Documento");
                            } else {

                                toastr.success(response.msg, "Cadastro de Documento");

                                var interval_ = setInterval(function () {
                                    clearInterval(interval_);
                                    window.location = response.url;
                                }, 3000);
                            }
                        }
                    })
                }
            });
        });

        //campos requeridos 
        $("#frmAdd").validate();
        $('#iName').attr("data-msg", "Informe o título do documento.");
        $('#iDescription').attr("data-msg", "Informe a descrição do documento.");

        //Linkando botão submit com form
        $('#btnSubmit').on('click', function () {
            $('#frmAdd').submit();
        });
    </script>
}
