﻿@using System.Linq
@model Cosmos.Portal.ViewModel.UserViewModel
@{
    ViewBag.Title = "Edição de Usuário";
}

<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Edição de Cadastro de Usuário</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Edição de Cadastro de Usuário</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content" style="background-color:transparent!important; border:none!important">
                <form method="post" class="form-horizontal" action="~/User/Update" id="frmUpdate">

                    @Html.HiddenFor(m => m.user.Id, new { @value = @Model.user.Id })
                    @Html.HiddenFor(m => m.user.TypeId, new { @id = "hdType" })
                    @Html.HiddenFor(m => m.user.Status, new { @id = "hdStatus" })
                    @Html.HiddenFor(m => m.user.BrandId, new { @id = "hdBrandId" })
                    @Html.HiddenFor(m => m.user.InclusionDate, new { @value = Model.user.InclusionDate })

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.Partial("DropDownStatus_", Model.user.Status == true ? 1 : 0)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.user.TypeId, new SelectList(Model.types, "Id", "Description"), Model.user.UserType.Description, new { @onchange = "ChangeType(this.value);", @id = "cboUserType", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.user.BrandId, new SelectList(Model.brands, "Id", "Name"), "Selecione uma montadora", new { @id = "cboBrand", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.Name, new { @class = "form-control space", @placeholder = "Nome", @required = "required", @id = "iName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.LastName, new { @class = "form-control space", @placeholder = "Sobrenome", @id = "iLastName" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.Email, new { @class = "form-control space", @placeholder = "E-mail", @required = "required", @id = "iEmail", @name = "iEmail" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.Telephone, new { @class = "form-control space", @placeholder = "Telefone", @id = "iTelephone" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.user.Password, new { @class = "form-control space", @placeholder = "Senha", @required = "required", @id = "iPassword", @type = "password" })
                        </div>
                    </div>
                    Permissões
                    <div id="lstCheckbox">
                        <div class="checkbox">
                            <label>
                                @for (int i = 0; i < Model.Permissions.Count(); i++)
                                {
                                    <div class="checkbox">
                                        <label>
                                            @Html.HiddenFor(model => model.Permissions[i].Id)
                                            @Html.CheckBoxFor(model => model.Permissions[i].Checked)
                                            @Html.DisplayFor(model => model.Permissions[i].Description)
                                            @Html.HiddenFor(model => model.Permissions[i].Description)
                                        </label>
                                    </div>
                                }
                            </label>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="col-sm-offset-0">
                        <button type="submit" class="btn btn-primary medio" onclick="return FillPermissions()">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnPermissions" name="hdnPermissions">
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/cbotUserTypeMethods")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">

        function FillPermissions() {
            var t = document.getElementById("lstCheckbox");
            var selects = t.getElementsByTagName("input");

            var hdnPermissions = document.getElementById("hdnPermissions");

            for (var i = 0; i < selects.length; i++) {
                if (selects[i].checked)
                    hdnPermissions.value += selects[i].value + ',';
            }

            return true;
        }

        function ChangeType(val) {
            if (val === "2") // Montadora
            {
                $("#cboPermission").attr('disabled', false);
            } else {
                $("#cboPermission").attr('disabled', true);
            }
        }

        $(document).ready(function () {

            $("#frmUpdate").submit(function (event) {

                if ($("#cboUserType").val() <= 0) {
                    toastr.warning("Escolha o tipo de usuário");
                    return false;
                }

                event.preventDefault();

                $("#frmUpdate").validate();

                $('#hdStatus').val($('#cboStatus').val() == 0 ? false : true);
                $('#hdBrandId').val($('#cboBrand').val());
                $('#hdType').val($('#cboUserType').val());

                if (confirmStatus($("#frmUpdate"))) {
                    $.ajax({
                        type: "POST",
                        url: '/User/Update',
                        data: $('#frmUpdate').serialize(),
                        success: function (response) {
                            if (response.result == "Fail") {
                                toastr.error(response.msg, "Atualização de Dados");
                            } else {

                                toastr.success(response.msg, "Atualização de Dados");

                                var interval_ = setInterval(function () {
                                    clearInterval(interval_);
                                    window.location = response.url;
                                }, 3000);

                            }
                        }
                    })
                }
            });

            //aplica as máscaras
            $('#iTelephone').mask('(99) 99999-9999');

            //validation
            $("#frmUpdate").validate();
            $('#iName').attr("data-msg", "Informe o nome do novo usuário.");
            $('#iEmail').attr("data-msg", "Informe um e-mail.");
            $('#iPassword').attr("data-msg", "Informe uma senha.");

            //email validator and unique
            $('#iEmail').on("blur", function () {

                var emailContent = $('#iEmail').val();

                console.log("emailContent:" + emailContent);

                if (emailContent == '' && emailContent == undefined)
                    return;

                $.ajax({
                    type: 'POST',
                    url: '/User/EmailValidator',
                    data: { EmailToValidate: emailContent },
                    success: function (response) {
                        if (response.result == "fail") {
                            toastr.error(response.msg, "Validação de Dados");
                            $('#iEmail').focus();
                        }
                    }
                })
            });
        });
    </script>
}