﻿@model Cosmos.Portal.ViewModel.UserViewModel
@{
    ViewBag.Title = "Usuários Cadastrados";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-sm-4">
        <h2>Usuários</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Usuários<small></small> </h5>
            </div>
            <div class="ibox-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="html5buttons">
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="text-left">ID</th>
                                <th class="text-left">Nome</th>
                                <th class="text-left">E-mail</th>
                                <th class="text-left">Data Cadastro</th>
                                <th class="text-left">Montadora</th>
                                @*<th class="text-left">SO</th>
                                <th class="text-center">MCU</th>
                                <th class="text-left">CAN</th>
                                <th class="text-center">UUID</th>*@
                                <th class="text-left">Tipo</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.users != null)
                            {
                                foreach (var item in @Model.users)
                                {
                            <tr>
                                <td class="text-left">@item.Id</td>
                                <td class="text-left">@item.Name</td>
                                <td class="text-left">@item.Email</td>
                                <td class="text-left">@item.InclusionDate</td>

                                @if (@item.Brand != null)
                                {
                                    <td class="text-left">@item.Brand.Name</td>
                                }
                                else
                                {
                                    <td class="text-left"></td>
                                }
                                <td class="text-left">@item.UserType.Description</td>
                                @*<td class="text-left">@item.SO</td>
                                <td class="text-left">@item.MCU</td>
                                <td class="text-left">@item.CAN</td>
                                <td class="text-left">@item.UUID</td>*@
                                <td class="text-center">@(item.Status == true ? "Ativo" : "Bloqueado")</td>
                                <td class="text-center">@Html.ActionLink("Editar", "Edit", "User", new { UserId = item.Id }, new { @class = "btn btn-primary btn-xs" })</td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts
	{
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            //datagrid
            $('.dataTable').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[1, "desc"]],
                language:
                    {
                        sEmptyTable: "Nenhum registro encontrado",
                        sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
                        sInfoFiltered: "(Filtrados de _MAX_ registros)",
                        sInfoPostFix: "",
                        sInfoThousands: ".",
                        sLengthMenu: "_MENU_ resultados por página",
                        sLoadingRecords: "Carregando...",
                        sProcessing: "Processando...",
                        sZeroRecords: "Nenhum registro encontrado",
                        sSearch: "Pesquisar",
                        oPaginate: {
                            sNext: "Próximo",
                            sPrevious: "Anterior",
                            sFirst: "Primeiro",
                            sLast: "Último"
                        },
                        oAria:
                            {
                                sSortAscending: "Ordenar colunas de forma ascendente",
                                sSortDescending: "Ordenar colunas de forma descendente"
                            }
                    },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Lista de Usuários' },
                    { extend: 'pdf', title: 'Lista de Usuários' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        }

        );
    </script>
}