﻿@model Cosmos.Portal.ViewModel.CategoryViewModel
@{
    ViewBag.Title = "Edição de Categorias";
}

<div class="row wrapper">
    <div class="col-sm-12">
        <h2>Edição de Categorias</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Edição de Categorias</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important">
            @using (Ajax.BeginForm("Update", "category",
                new AjaxOptions
                {
                    HttpMethod = "POST"
                },
                new
                {
                    enctype = "multipart/form-data"
                }))
            {
                <div class="form-horizontal"  id="frmUpdate" >

                    @Html.HiddenFor(m => m.category.Id, new {@value = @Model.category.Id})
                    @Html.HiddenFor(m => m.category.Status, new {@id = "hdStatus"})

                    @*<div class="form-group">
                        <div class="col-sm-6">
                            @Html.Partial("DropDownStatus_", Model.category.Status == true ? 1 : 0)
                        </div>
                    </div>*@

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.category.Description,
                                new
                                {
                                    @class = "form-control space",
                                    @placeholder = "Nome da Categoria",
                                    @required = "required",
                                    @id = "iDescription"
                                })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.category.DescriptionES,
                                new
                                {
                                    @class = "form-control space",
                                    @placeholder = "Nome da Categoria - Espanhol",
                                    @required = "required",
                                    @id = "iDescription"
                                })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.category.DescriptionEN,
                                new
                                {
                                    @class = "form-control space",
                                    @placeholder = "Nome da Categoria - Inglês",
                                    @required = "required",
                                    @id = "iDescription"
                                })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Icone </label>
                        </div>
                        <div class="col-sm-12">
                            <img src="@Url.Content(Model.category.IconUrl)" style="width: 4em; height: 4em;" alt="Image"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Alterar </label>
                            @Html.TextBoxFor(m => m.category.imageData,
                                new
                                {
                                    @type = "file",
                                    @accept = "image/*",
                                    @class = "form-control space",
                                    @placeholder = "Icone",
                                    @id = "Icon"
                                })
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.category.Status, new {@value = Model.category.Status})
                    <div class="col-sm-offset-0">
                        <button type="submit" class="btn btn-primary medio">Salvar</button>
                    </div>

                </div>
            }
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/cbotUserTypeMethods")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {

            $("#frmUpdate").submit(function (event) {

                event.preventDefault();

                $('#hdStatus').val($('#cboStatus').val() == 0 ? false : true);

                if (confirmStatus($("#frmUpdate"))) {
                    $.ajax({
                        type: "POST",
                        url: '/Category/Update',
                        data: $('#frmUpdate').serialize(),
                        success: function (response) {
                            if (response.result == "Fail") {
                                toastr.error(response.msg, "Atualização de Dados");
                            } else {

                                toastr.success(response.msg, "Atualização de Dados");

                                var interval_ = setInterval(function () {
                                    clearInterval(interval_);
                                    window.location = response.url;
                                }, 3000);

                            }
                        }
                    })
                }
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //validation
            $("#frmUpdate").validate();
            $('#iDescription').attr("data-msg", "Informe o nome da Categoria");
        });
    </script>
}
