﻿@model Cosmos.Portal.ViewModel.CategoryViewModel
@{
    ViewBag.Title = "Cadastro de Categorias";
}

<div class="row wrapper">
    <div class="col-sm-12">
        <h2>Cadastro de Categorias</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Cadastro de Categorias</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color: transparent !important; border: none !important">

                @using (Ajax.BeginForm("Add", "Category",
                    new AjaxOptions
                    {
                        HttpMethod = "POST"
                    },
                    new
                    {
                        enctype = "multipart/form-data",
                        @class = "form-horizontal"

                    }))
                {
                    <form class="form-horizontal" id="frmAddNewCategory">
                        @Html.HiddenFor(m => m.category.Id, new { @id = "hdId" })
                        @Html.HiddenFor(m => m.category.Status, new { @id = "hdStatus" })

                        @*<div class="form-group">
                            <div class="col-sm-6">
                                @Html.Partial("DropDownStatus_", -1)
                            </div>
                        </div>*@

                        <div class="form-group">
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.category.Description,
                                    new
                                    {
                                        @class = "form-control space",
                                        @placeholder = "Nome em Português",
                                        @required = "required",
                                        @id = "iDescription"
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.category.DescriptionES,
                                    new
                                    {
                                        @class = "form-control space",
                                        @placeholder = "Nome em Espanhol",
                                        @required = "required",
                                        @id = "iDescriptionES"
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                @Html.TextBoxFor(m => m.category.DescriptionEN,
                                    new
                                    {
                                        @class = "form-control space",
                                        @placeholder = "Nome em Inglês",
                                        @required = "required",
                                        @id = "iDescriptionEN"
                                    })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label>Icone </label>
                                @Html.TextBoxFor(m => m.category.imageData,
                                    new
                                    {
                                        @type = "file",
                                        @accept = "image/*",
                                        @class = "form-control space",
                                        @placeholder = "Icone",
                                        @required = "required",
                                        @id = "Icon"
                                    })
                            </div>
                        </div>
                        <div class="col-sm-offset-0">
                            <button type="submit" class="btn btn-primary medio">Salvar</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/cbotUserTypeMethods")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
        $(document).ready(function () {


            $('#frmAddNewCategory').on('submit', function (event) {

                event.preventDefault();
                $('#hdId').val("01");
                $('#hdStatus').val($('#cboStatus').val() == 0 ? false : true);

                if (confirmStatus($("#frmAddNewCategory"))) {
                    $.ajax({
                        type: "POST",
                        url: '/Category/Add',
                        data: $('#frmAddNewCategory').serialize(),
                        success: function(response) {
                            if (response.result == "Fail") {
                                toastr.error(response.msg, "Cadastro de Categoria");
                            } else {
                                toastr.success(response.msg, "Cadastro de Categoria");
                                var interval_ = setInterval(function () {
                                    clearInterval(interval_);
                                    window.location = response.url;
                                }, 3000);

                              

                            }
                        }
                    });
                }
            });

            //validation
            $("#frmAddNewCategory").validate();
            $('#iDescription').attr("data-msg", "Informe o nome da categoria.");

            $('#iDescription').on("blur", function () {
                FieldValidate('iDescription', '/Category/CategoryNameValidator', { CategoryName: $('#iDescription').val() }, "Validação de Dados");
            });

        });
    </script>
}
