﻿@model Cosmos.Portal.ViewModel.CategoryViewModel
@{
    ViewBag.Title = "Categorias Cadastradas";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-sm-4">
        <h2>Categorias</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Categorias<small></small> </h5>
            </div>
            <div class="ibox-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="html5buttons">
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="text-left">Icone</th>
                                <th class="text-left">Nome</th>
                                <th class="text-left">Apps instalados</th>
                                <th class="text-left">Data de publicação</th>
                                <th class="text-center">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model.categories != null)
                            {
                                foreach (var item in @Model.categories)
                                {
                                    <tr id="@item.Id">
                                        @if (item.IconUrl != null)
                                        {
                                            <td class="text-center">
                                                <img src="@Url.Content(@item.IconUrl)" alt="Image" style="width: 4em; height: 4em" />
                                                @*<img src='data:image/jpeg;base64,@item.Logotype' style="width: 4em; height: 4em"/>*@
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="text-center">

                                                ---
                                            </td>

                                        }
                                      
                                        <td class="text-left">@item.Description</td>
                                        <td class="text-left">@item.CounterApp</td>
                                        <td class="text-center">@item.Register</td>
                                        <td class="text-center">@Html.ActionLink("Editar", "Edit", "Category", new {CategoryId = item.Id}, new {@class = "btn btn-primary btn-xs"}) <button id="btnRemove" name="@item.Id" onclick="removeID('@item.Id');" class="btn btn-danger btn-xs">Remover</button></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts
{

    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {
            //datagrid
            $('.dataTable').DataTable({
                pageLength: 10,
                dom: '<"html5buttons"B>lTfgitp',
                order: [[1, "desc"]],
                language:
                    {
                        sEmptyTable: "Nenhum registro encontrado",
                        sInfo: "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando 0 até 0 de 0 registros",
                        sInfoFiltered: "(Filtrados de _MAX_ registros)",
                        sInfoPostFix: "",
                        sInfoThousands: ".",
                        sLengthMenu: "_MENU_ resultados por página",
                        sLoadingRecords: "Carregando...",
                        sProcessing: "Processando...",
                        sZeroRecords: "Nenhum registro encontrado",
                        sSearch: "Pesquisar",
                        oPaginate: {
                            sNext: "Próximo",
                            sPrevious: "Anterior",
                            sFirst: "Primeiro",
                            sLast: "Último"
                        },
                        oAria:
                            {
                                sSortAscending: "Ordenar colunas de forma ascendente",
                                sSortDescending: "Ordenar colunas de forma descendente"
                            }
                    },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'Lista de categorias' },
                    { extend: 'pdf', title: 'Lista de categorias' },
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });

            //$('#btnRemove').click(function() {

            //});
        });

        function removeID(id) {
            console.log(id);
            event.preventDefault();
            $.ajax({
                url: '/Category/ExistAppValidator?categoryID=' + id,
                type: "POST",
                success:
                    function (response) {
                        if (response.result === "fail") {
                            toastr.error(response.msg,
                                "Remoção de categoria");
                        } else {
                            console.log(id);
                            event.preventDefault();
                            $.ajax({
                                url: '/Category/Delete?categoryID=' + id,
                                type: "Delete",
                                success:
                                    function (response) {
                                        toastr.success("Categoria removida com sucesso.",
                                            "Remoção de categoria");
                                      $('#'+ id + '').remove();
                                    },
                                error: function (response) {
                                    toastr.error("Não foi possível se comunicar com o servidor.", "Remoção de categoria");

                                }
                            })
                        }
                        console.log(response);

                    },
                error: function (response) {
                    l.ladda('stop');
                    toastr.error("Não foi possível se comunicar com o servidor.", "Error");

                }
            })
        }
    </script>
}