﻿@model Cosmos.Portal.ViewModel.TermsAndConditionsViewModel

@{
    ViewBag.Title = "Active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Aplicativos</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li>
                <a href="@Url.Action("List", "TermsAndConditions")">Termos e Condições</a>
            </li>
            <li class="active">
                <strong>Ativar Termo</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important;margin-top:1.5em">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group row">
                        <div style="display: inline-block; margin-left: 1%;">
                            <h3>Deseja Ativar o termo?</h3>
                        </div>
                    </div>
                    <hr />

                    <div style="display: inline-block; margin-left: 1%;">
                        <h3>@Model.TermAndCondition.TitlePT</h3>
                    </div>
                    <hr />

                    <hr />

                    <dl class="dl-horizontal"></dl>

                    <div class="form-actions no-color">
                        <input type="submit" value="Ativar" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>