﻿@model Cosmos.Portal.ViewModel.TermsAndConditionsViewModel

@{
    ViewBag.Title = "Termos e Privacidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Termos e Privacidade</h2>

@using (Ajax.BeginForm("Add", "TermsAndConditions",
              new AjaxOptions
              {
                  HttpMethod = "POST"
              },
              new
              {
                  enctype = "multipart/form-data",
                  @class = "form-horizontal"
              }))
{
    <form>
        <div class="form-horizontal">
            <h4>Adicionar novo</h4>
            <hr />

            <div class="form-group">
                @Html.Label("Título ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TermAndCondition.TitlePT, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.TermAndCondition.TitlePT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Título em Inglês", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TermAndCondition.TitleEN, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.TermAndCondition.TitleEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Título em Espanhol", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TermAndCondition.TitleES, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.TermAndCondition.TitleES, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Montadora", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.TermAndCondition.IdBrand, new SelectList(Model.Brands, "Id", "Name"), "Selecione a Montadora", new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.TermAndCondition.IdBrand, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("PDF em portugês", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TermAndCondition.PDFPT, new { @class = "form-control", @accept = ".pdf", @type = "file", @required = "required" })
                    @Html.ValidationMessageFor(model => model.TermAndCondition.PDFPT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("PDF em Inglês", htmlAttributes: new { @class = "control-label col-md-2", @required = "required" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TermAndCondition.PDFEN, new { @class = "form-control", @accept = ".pdf", @type = "file", @required = "required" })
                    @Html.ValidationMessageFor(model => model.TermAndCondition.PDFEN, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("PDF em Espanhol", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.TermAndCondition.PDFES, new { @class = "form-control", @accept = ".pdf", @type = "file", @required = "required" })
                    @Html.ValidationMessageFor(model => model.TermAndCondition.PDFES, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
}
<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}