﻿@model Cosmos.Portal.ViewModel.TermsAndConditionsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Form")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Versão")
        </th>
        <th>
            @Html.DisplayName("Titulo")
        </th>
        <th>
            @Html.DisplayName("Montadora")
        </th>
        <th>
            @Html.DisplayName("Data")
        </th>
        <th>
            @Html.DisplayName("PDF")
        </th>
        <th>
            @Html.DisplayName("Concordaram")
        </th>
        <th>
            @Html.DisplayName("Rejeitaram")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.TermsAndConditions)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Version)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TitlePT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Register)
        </td>
        <td>
            <button type="button" class="btn btn-primary btn-xs" value="Download" onclick="location.href='@item.FilePT'">Download
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Accepteds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recuseds)
        </td>
        <td class="text-center">
            @if (item.Active == false)
            {
                @Html.ActionLink("Ativar", "Active", new { id = @item.Id }, new { @class = "btn btn-primary btn-xs" }) @Html.ActionLink("Deletar", "Delete", new { id = @item.Id }, new { @class = "btn btn-danger btn-xs" })
            }
        </td>
    </tr>
    }
</table>