﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MultiApp | Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <link href="~/Content/login.css" rel="stylesheet" />
    <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/ladda/ladda.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/vegas-slideshow/vegas.css" rel="stylesheet" />
    <style>
        input::-webkit-input-placeholder {
            color: white !important;
        }

        html, body {
            height: auto !important;
            background-color: transparent !important;
        }
    </style>

</head>

<body >

    <div class="middle-box text-center loginscreen  animated fadeInDown" style="background-color:rgba(255, 255, 255, 0.20); border-radius: 25px;margin-top:5em">
        <div >
               
            <img src="../Images/logotipo.png"  />
   
            @{Html.BeginForm("UserValidate", "Login", FormMethod.Post, new { @id = "frmLogin" });}

            <div class="login-container">
                <div class="form-group row">
                  
                    <div class="col-md-10 col-sm-offset-1">
                        <input type="text" class="login-input-field" placeholder="E-mail" required="" autocomplete="new-password" name="userID">
                    </div>
                </div>

                <div class="form-group row">
                  
                    <div class="col-sm-10 col-sm-offset-1">
                        <input type="password" class="login-input-field" required="" autocomplete="new-password" placeholder="Senha" name="userPassword">
                    </div>
                </div>

       
                <div class="login-button-submit">
                    <button data-color="green" type="button" class="ladda-button ladda-button-demo btn btn-danger submitButton" data-style="expand-right">Validar Acesso</button>
                </div>

            </div>

            @{Html.EndForm();}

        </div>
    </div>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/plugins/toastr/toastr.min.js"></script>
    <script src="~/Scripts/plugins/ladda/spin.min.js"></script>
    <script src="~/Scripts/plugins/ladda/ladda.min.js"></script>
    <script src="~/Scripts/plugins/ladda/ladda.jquery.min.js"></script>
    <script src="~/Scripts/plugins/jquery.countdown-2.1.0/jquery.countdown.js"></script>
    <script src="~/Content/plugins/vegas-slideshow/vegas.js"></script>

</body>

</html>
<script>

    $(document).ready(function ()
    {
        $('body').vegas(
           
            {
                slide: 0,
                delay: 5000,
                loop: true,
                preload: false,
                preloadImage: false,
                preloadVideo: false,
                timer: true,
                overlay: false,
                autoplay: true,
                shuffle: false,
                cover: true,
                color: null,
                align: 'center',
                valign: 'center',
                firstTransition: null,
                firstTransitionDuration: null,
                transition: 'fade',
                transitionDuration: 1000,
                transitionRegister: [],
                animation: null,
                animationDuration: 'auto',
                animationRegister: [],
                init: function () { },
                play: function () { },
                pause: function () { },
                walk: function () { },
                slides:
                [
                    { src: '../Images/gallery/car1.png' },
                    { src: '../Images/gallery/car2.png' }

                ]
            }
        );

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "200",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        var l = $('.submitButton').ladda();

        l.click(function ()
        {
            l.ladda('start');
            $("#frmLogin").submit();
        });

        $("#frmLogin").on("submit", function (event) {

            event.preventDefault();

            var url = $(this).attr("action");
            var formData = $(this).serialize();

            $.ajax({
                url: url,
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (response) {
                    l.ladda('stop');
                    if (response.result == 'Redirect') {
                        toastr.success("Usuário confirmado. Redirecionando...", "Validação de Acesso");
                        window.location = response.url;
                    }
                    else {
                        toastr.error(response.msg, "Validação de Acesso");
                    }
                },
                error: function (response) {
                    l.ladda('stop');
                    toastr.error("Não foi possível se comunicar com o servidor.", "Validação de Acesso");

                }
            })
        });
    });
</script>

