﻿@model IEnumerable<Cosmos.Model.Message>

@{
    ViewBag.Title = "Lista de Mensagens";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-sm-4">
        <h2>Mensagens</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Lista de Mensagens<small></small> </h5>
            </div>
            <div class="ibox-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="html5buttons">
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="text-left">ID</th>
                                <th class="text-left">Tipo Mensagem</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Usuário Destino</th>
                                <th class="text-center">Montadora Destino</th>
                                <th class="text-center">Região Destino</th>
                                <th class="text-center">Autor</th>
                                <th class="text-center">Título</th>
                                <th class="text-center">Texto</th>
                                <th class="text-center">Data Expiração</th>
                                <th class="text-center">Data Agendamento</th>
                                <th class="text-center">Data Criação</th>
                                <th class="text-center">Última Atualização</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model != null)
                            {
                                foreach (var item in @Model)
                                {
                                    <tr>
                                        <td class="text-left">@item.Id</td>
                                        <td class="text-left">@item.MessageType</td>
                                        <td class="text-left">@item.MessageStatus</td>
                                        <td class="text-left">@((item.UserDestiny != null ? item.UserDestiny.Name : ""))</td>
                                        <td class="text-left">@((item.BrandDestiny != null ? item.BrandDestiny.Name : ""))</td>
                                        <td class="text-left">@((item.RegionDestiny != null ? item.RegionDestiny.Name : ""))</td>
                                        <td class="text-left">@((item.UserId != null ? item.UserId.Name : ""))</td>
                                        <td class="text-left">@item.Title</td>
                                        <td class="text-left">@item.Text</td>
                                        <td class="text-left">@item.ExpireDate</td>
                                        <td class="text-left">@item.ScheduledDate</td>
                                        <td class="text-left">@item.CreatedAt</td>
                                        <td class="text-left">@item.UpdatedAt</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}