﻿@model Cosmos.Portal.ViewModel.BrandViewModel
@{
    /**/

    ViewBag.Title = "Edição de Montadora";
}

<div class="row wrapper">
    <div class="col-sm-8">
        <h2>Edição de Montadora</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Edição de Montadora</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important">
                <div class="row">
                    <div class="col-sm-5">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Logotipo da Montadora </h4>
                                        <div id="DropZoneContainer">
                                            <div class="col-sm-12">

                                                <form action="~/Brand/UploadThumbnail" class="dropzone col-sm-7" enctype="multipart/form-data" id="dropzoneEditBrandThumbnail">
                                                    <div class="fallback">
                                                        <input name="file" type="file" multiple />
                                                    </div>
                                                </form>

                                                <div class="col-sm-4">
                                                    <h4><small><strong>Atenção:</strong></small></h4>
                                                    <small>A foto deve ter medida mínima de 200px por 200px, fundo transparente, ser do tipo PNG e com tamanho máximo 100Kb </small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <form method="post" class="form-horizontal" action="~/Brand/Update" id="frmUpdate">

                    @Html.HiddenFor(m => m.brand.Id, new { @value = @Model.brand.Id })
                    @Html.HiddenFor(m => m.brand.Status, new { @id = "hdStatus" })

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.Partial("DropDownStatus_", Model.brand.Status == true ? 1 : 0)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.brand.Name,
new
{
@class = "form-control space",
@placeholder = "Nome",
@required = "required",
@id = "iName"
})
                        </div>
                    </div>

                    <div class="col-sm-offset-0">
                        <button type="submit" class="btn btn-primary medio">Salvar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dropzone/dropZoneStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/cbotUserTypeMethods")
    @Scripts.Render("~/plugins/dropZone")

    <script type="text/javascript">

        $(document).ready(function () {

            //inicia o controle de upload de fotos/
            Dropzone.options.dropzoneEditBrandThumbnail = {
                paramName: "file",
                maxFilesize: 1,
                uploadMultiple: false,
                maxFiles: 1,
                addRemoveLinks: true,
                acceptedFiles: "image/png",
                dictDefaultMessage: "<strong>Arraste a logomarca da montadora aqui <br/> ou clique para escolher. </strong>",
                dictRemoveFile: "Remover Imagem",
                dictRemoveFileConfirmation: "Deseja remover a imagem?",
                dictMaxFilesExceeded: "É permitido apenas 1 imagem por cadastro. Por favor remova a imagem excedente",
            }

            $("#frmUpdate").submit(function (event) {

                event.preventDefault();

                $('#hdStatus').val($('#cboStatus').val() == 0 ? false : true);

                if (confirmStatus($("#frmUpdate"))) {
                    $.ajax({
                        type: "POST",
                        url: '/Brand/Update',
                        data: $('#frmUpdate').serialize(),
                        success: function (response) {
                            if (response.result == "Fail") {
                                toastr.error(response.msg, "Atualização de Dados");
                            } else {

                                toastr.success(response.msg, "Atualização de Dados");

                                var interval_ = setInterval(function () {
                                    clearInterval(interval_);
                                    window.location = response.url;
                                }, 3000);

                            }
                        }
                    })
                }
            });


            //validation
            $("#frmUpdate").validate();
            $('#iName').attr("data-msg", "Informe o nome da Montadora.");

        });
    </script>
}
