@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
body{
  background: #e2e2e2;
  font-family: Ubuntu;
  overflow-x: hidden;
}
a, button, label {
  cursor: pointer;
}
button:focus {
  outline: none;
}
a:hover, a:focus {
  text-decoration: none;
}
table, table.table-responsive {
  width: 100%;
  display: table;
}
aside {
  background: #2d323e;
  width: 15%;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  transition: 0.5s width;
}
aside header {
  background: #fff;
  padding: 15px;
}
aside header button {
  float: right;
  border: none;
  font-size: 30px;
  line-height: 30px;
  background: #fff;
}
aside .user-info {
  padding: 20px 15px;
}
aside .user-info .user-name {
  font-size: 14px;
}
aside .user-info .user-email {
  font-size: 10px;
}
aside nav {
  padding-right: 25px;
}
aside nav a {
  padding: 0 0 0 15px;
  display: block;
  text-transform: uppercase;
  color: #fff;
}
aside nav a:hover {
  color: #fff;
  background: #212630;
}
.menu-closed a span span {
  display: none;
}
.menu-closed aside {
  width: 5%;
  transition: 0.5s width;
}
.menu-closed main {
  padding-left: 5%;
  transition: 0.5s padding-left;
}
.menu-closed .user-info {
  display: none;
}
.menu-closed aside header {
  height: 110px;
}
.menu-closed aside button {
  margin-top: 15px;
}
.menu-closed aside nav {
  padding: 0;
  text-align: center;
}
.menu-closed aside a {
  padding: 0;
  text-align: center;
}
img {
  max-width: 100%;
}
aside nav a > span {
  line-height: 70px;
  display: block;
  border-bottom: 1px solid #212630;
}
aside nav a i {
  margin-right: 10px;
}
main {
  background: #e2e2e2;
  position: relative;
  padding-left: 15%;
  z-index: 0;
  transition: 0.5s padding-left;
}
main header {
  background: #414d69;
  height: 197px;
  color: #fff;
  padding: 35px 30px 110px 30px;
}
main .breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 30px 0 0 0;
  float: left;
}
main .breadcrumbs li {
  display: inline-block;
  padding: 0 3px;
  float: left;
  line-height: 10px;
}
main .breadcrumbs li + li {
  border-left: 1px solid #fff;
}
main .breadcrumbs li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}
main .breadcrumbs li a:hover {
  color: #fff;
}
.btn {
  border-radius: 6px;
  padding: 15px;
  text-align: center;
  background: #fff;
  color: #414d69;
}
main header .btn {
  float: right; 
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
main header .btn i {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
  top: 2px;
}
main section {
  margin: -85px 30px 30px 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  min-height: 700px;
}
main section > form {
  padding: 25px 25px 0 25px;
}
main section > form .input-group.mb-2 {
  float: left;
  max-width: 241px;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  color: #414d69;
}
main section > form .input-group-text{
 background: transparent;
  border: none;
}
main section > form input.form-control {
  border: none;
  padding-left: 0;
}
main section > form button {
  padding: 0;
  border: none;
  color: #414d69;
}
main section > form select {
  float: right;
  height: 38px;
  background: #fff;
  border: 1px solid #e7e7e7;
  color: #414d69;
}
main section table.lista {
  width: 100%;
  color: #414d69;
  font-size: 13px;
}
main section table.lista thead {
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2e2;
  line-height: 50px;
}
main section table.lista thead tr a:hover, 
main section table.lista thead tr a{
  color: #414d69;
}
main section table.lista th {
  font-weight: lighter;
  white-space: nowrap;
}
main section table.lista th:first-child {
  padding-left: 25px;
}
main section table.lista th:last-child {
  padding-right: 25px;
}
main section table.lista td:first-child {
  padding-left: 25px;
}
main section table.lista td:last-child {
  padding-right: 25px;
}
main section table.lista tr {}
main section table.lista td {
  font-size: 16px;
  font-weight: lighter;
  padding: 5px 0;
}
main section table.lista a {}
main section table.lista .btn {}
.aprovadores a {
  font-size: 12px;
  color: #fff;
  background: #535e77;
  padding: 8px;
  border-radius: 4px;
}
.link-detalhes:hover,
.link-detalhes {
  font-size: 12px;
  color: #fff;
  background: #535e77;
  padding: 4px 6px;
  border-radius: 4px;
}
.link-editar:hover,
.link-editar {
  font-size: 12px;
  color: #fff;
  background: #ff8400;
  padding: 4px 6px;
  margin-left: 10px;
  border-radius: 4px;
}
.badge {
  color: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: lighter;
}
.badge-alerta {
  background: #ff0e3b;
}
.badge-promocao {
  background: #4eb22b;
}
.badge-novidade {
  background: #0b54c2;
}
.status-geral {
  line-height: 18px;
}
.status-geral small {
  display: black;
  font-size: 10px;
}
.select-limit {
  line-height: 40px;
}
.select-limit select {
  margin-left: 10px;
}

#mensagens .lista div.badge {
  font-size: 16px;
    font-weight: lighter;
    color: inherit;
    padding: 0;
    background: transparent;
}

/** POPUP STATUS APROVADORES */
.popup-status .fancybox-close-small {
  top: 16px;
  right: 15px;
}
.popup-status {
  width: 100%;
  max-width: 536px;
  border-radius: 8px;
}
.popup-status .popup-title{
  font-size: 18px;
  font-family: Ubuntu;
  font-weight: 300;
  color: #7f7f7f;
}
.popup-status th {
  font-size: 13px;
  text-transform: uppercase;
  color: #414d69;
  font-weight: lighter;
  line-height: 40px;
}
.popup-status table {
  width: 100%;
  margin-top: 30px;
}
.popup-status td {
  font-size: 16px;
  color: #414d69;
  font-weight: lighter;
  line-height: 30px;
}
.popup-status .message-motivo .motivo {
  display: none;
}
.popup-status .message-motivo .motivo > div {
  background: #df3b24;
  padding: 8px;
  color: #fff;
  border-radius: 6px;
}
.popup-status .message-motivo .motivo:before {
  content: "\f0d8";
  font-family: 'FontAwesome';
  display: block;
  width: 100%;
  text-align: right;
  color: #df3b24;
  font-size: 30px;
  line-height: 10px;
  padding-right: 6%;
}
.popup-status .status-aguardando td:last-child {
}
.popup-status .status-aprovado td:last-child {
  color: #0b5e11;
}
.popup-status .status-reprovado td:last-child {
  color: #df3b24;
}
.popup-status .section-footer {
  font-size: 14px;
  color: #7f7f7f;
  font-weight: lighter;
  margin-top: 10px;
}
.popup-status {
}
.popup-status .motivo-inner {
  font-size: 12px;
  line-height: 15px;
}
.badge-reprovado i {
  font-size: 14px;
}
.badge-reprovado {
  margin: 3px;
  background: #df3b24;
  padding: 5px;
  float: right;
  font-size: 10px;
  cursor: pointer;
}


/** POPUP DETALHES */
.popup-detalhes .fancybox-close-small {
  top: 16px;
  right: 15px;
}
.fancybox-container .popup-detalhes {
  width: 100%;
  max-width: 1198px;
  border-radius: 8px;
}
.popup-detalhes .popup-title{
  font-size: 18px;
  font-family: Ubuntu;
  font-weight: 300;
  color: #7f7f7f;
}
.popup-detalhes .header {
  line-height: 100%;
  overflow: hidden;
}
.popup-detalhes .header > div{
  display: inline-block;
  font-size: 18px;
  font-weight: lighter;
  float: left;
  max-height: 60px;
}
.popup-detalhes .tipo-mensagem {
  background: #2d323e;
  color: #fff;
  padding: 15px;
}
.popup-detalhes .select-tipo-mensagem {
  border: 1px solid #dadada;
  padding: 15px;
}
.popup-detalhes .select-tipo-mensagem label {
  color: #858484;
}
.popup-detalhes .select-tipo-mensagem input {
  display: none;
}
.popup-detalhes .select-tipo-mensagem input + div {
  width: 19px;
  height: 19px;
  line-height: 19px;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #858484;
  display: inline-block;
  position: relative;
  top: 4px;
}
.popup-detalhes .select-tipo-mensagem input:checked + div:before {
  font-family: 'FontAwesome';
  content: "\f00c";
  font-size: 14px;
  color: #4eb22b;
  position: absolute;
  top: 0;
  left: 1px;
}
.popup-detalhes div.status-geral {
  float: right;
  font-size: 19px;
  color: #7f7f7f;
  line-height: 60px;
}
.popup-detalhes div.status-geral strong {
  color: #575757;
}
.popup-detalhes .badge-promocao {
  font-size: 13px;
  margin-left: 15px;
  background: transparent;
  border: 1px solid #fff;
}
.popup-detalhes .popup-content {
  margin-top: 30px;
}

.popup-detalhes .section-header{
  background: #414d69;
  color: #fff;
  height: 56px;
  display: block;
  margin: 15px 0;
  white-space: nowrap;
  padding:0;
}
/** POPUP DETALHES - IDIOMAS */
.popup-detalhes .section.idiomas{
}
.popup-detalhes .section.idiomas .section-header{
  background: #414d69;
  color: #fff;
  height: 64px;
  display: block;
  margin: 15px 0;
  white-space: nowrap;
  padding:0;
}
.popup-detalhes .section.idiomas .tabs {
}
.popup-detalhes .section.idiomas .tab {
  display: inline-block;
  padding: 15px;
  cursor: pointer;
  background: #fff;
  border-top: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  float: left;
  color: #858484;
  font-weight: lighter;
  position: relative;
}
.popup-detalhes .section.idiomas .tab.active.idioma:before {
  color: #414d69;
}
.popup-detalhes .section.idiomas .tab.active {
  border-top: 1px solid #414d69;
  background: #414d69;
  color: #fff;
}
.popup-detalhes .section.idiomas .tab.idioma:before {
  font-family: 'FontAwesome';
  content: "\f0d7";
  position: absolute;
 bottom: -8px;
  color: #fff;
  font-size: 20px;
  left: 50%;
  line-height:10px;
  margin-left: -6px;
  z-index: 1;
}
.popup-detalhes .section.idiomas .tab.idioma:after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  position: absolute;
 bottom: -9px;
  color: #dadada;
  font-size: 20px;
  left: 50%;
  line-height:10px;
  margin-left: -6px;
  z-index: 0;
}
.popup-detalhes .section.idiomas .section-content {
  margin-top: 25px;
}
.popup-detalhes .section.idiomas .section-content label {
  color: #858484;
  font-size: 18px;
  display: block;
  font-weight: lighter;
  line-height: 18px;
  margin-top: 15px;
}
.popup-detalhes .section.idiomas .section-content input {
  border: 1px solid #dadada;
  width: 100%;
  padding: 10px;
}
.popup-detalhes .section.idiomas .section-content textarea {
  width: 100%;
  border: 1px solid #dadada;
  padding: 10px;
  height: 122px;
}
.popup-detalhes .section.idiomas .tab-content {
  display: none;
}
.popup-detalhes .section.idiomas .tab-content.active {
  display: block;
}
.popup-detalhes .section-header {
  height: 60px;
  padding: 15px 20px;
  font-size: 20px;
  line-height: 33px;
}
.popup-detalhes .section-header i {
  font-size: 30px;
  float: left;
  margin-right: 10px;
}
/** POPUP DETALHES - LOCALIZACAO */
.popup-detalhes .section.localizacao {
  background: #f4f4f4;
  padding-bottom: 15px;
}
.popup-detalhes .section.localizacao .section-content {
  margin-top: 0;
  padding: 0 40px;
}
.popup-detalhes .section.localizacao table {
  width: 100%;
  margin-bottom: 50px;
}
.popup-detalhes .section.localizacao thead {
  border-bottom: 1px solid #dcdcdc;
}
.popup-detalhes .section.localizacao th {
  color: #828282;
  padding: 5px 0;
  font-size: 20px;
  font-weight: normal;
}
.popup-detalhes .section.localizacao td {
  font-size: 15px;
  color: #828282;
}
/** POPUP DETALHES - VEICULOS */
.popup-detalhes .section.veiculos {
  background: #f4f4f4;
  padding-bottom: 15px;
}
.popup-detalhes .section.veiculos .section-content {
  margin-top: 0;
  padding: 0 40px;
}
.popup-detalhes .section.veiculos table {
  width: 100%;
  margin-bottom: 50px;
}
.popup-detalhes .section.veiculos thead {
  border-bottom: 1px solid #dcdcdc;
}
.popup-detalhes .section.veiculos th {
  color: #414d69;
  padding: 5px 0;
  font-size: 15px;
  font-weight: lighter;
}
.popup-detalhes .section.veiculos td {
  font-size: 15px;
  font-weight: lighter;
  color: #414d69;
}
/** POPUP DETALHES - APROVADORES */
.popup-detalhes .section.aprovadores {
  background: #f4f4f4;
  padding-bottom: 15px;
}
.popup-detalhes .section.aprovadores .section-content {
  margin-top: 0;
  padding: 0 40px;
}
.popup-detalhes .section.aprovadores table {
  width: 100%;
  margin-bottom: 50px;
}
.popup-detalhes .section.aprovadores thead {
  border-bottom: 1px solid #dcdcdc;
}
.popup-detalhes .section.aprovadores th {
  color: #414d69;
  padding: 5px 0;
  font-size: 15px;
  font-weight: lighter;
}
.popup-detalhes .section.aprovadores td {
  font-size: 15px;
  font-weight: lighter;
  color: #414d69;
}
.popup-detalhes .message-motivo .motivo {
  display: none;
}
.popup-detalhes .message-motivo .motivo > div {
  background: #df3b24;
  padding: 8px;
  color: #fff;
  border-radius: 6px;
}
.popup-detalhes .message-motivo .motivo:before {
  content: "\f0d8";
  font-family: 'FontAwesome';
  display: block;
  width: 100%;
  text-align: right;
  color: #df3b24;
  font-size: 30px;
  line-height: 10px;
  padding-right: 30px;
}
.popup-detalhes .motivo-inner {
  font-size: 15px;
  line-height: 15px;
}
.popup-detalhes .status-aguardando td:last-child {
}
.popup-detalhes .status-aprovado td:last-child {
  color: #0b5e11;
}
.popup-detalhes .status-reprovado td:last-child {
  color: #df3b24;
}
.popup-detalhes div.badge-reprovado {
  margin: 0;
}
.popup-detalhes .section-footer {
  margin-top: 30px;
}
.popup-detalhes .datas {
  font-weight: lighter;
  font-size: 17px;
  display: table;
  clear: both;
  color: #8b8b8c;
  margin-bottom: 30px;
}
.popup-detalhes .datas strong {
  color: #414d69;
  font-size: 15px;
}
.popup-detalhes .datas > div{
  display: inline-block;
}
.popup-detalhes .datas > div > div {
}
.popup-detalhes .datas .data-expiracao {
}
.popup-detalhes .datas .data-agendamento {
  margin-left: 30px;
}
.popup-detalhes .actions {
  float: right;
}
.popup-detalhes .actions a {
  font-size: 18px;
  font-weight: lighter;
  padding: 10px 15px;
  border-radius: 6px;
  margin-left: 10px;
}
.popup-detalhes .actions a.editar {
  background: #18b718;
  color: #fff;
}
.popup-detalhes .actions a.fechar {
  background: #d8d8d8;
  color: #7f7f7f;
}
.badge-reprovado i {
  font-size: 14px;
}
.badge-reprovado {
  margin: 3px;
  background: #df3b24;
  padding: 5px;
  float: right;
  font-size: 10px;
}


/** LOGIN */
#login {
  background: #303a54;
}
#login form.login {
  width: 100%;
  max-width: 940px;
  background: #fff;
  position: absolute;
  left: 50%;
  margin-left: -470px;
  top: 50%;
  margin-top: -250px;
}
#login .col-md-6{
  min-height: 485px;
  background-size: cover;
  background-position: center;
  padding: 0;
}
#login .img-login {
  background-image: url('images/img-login.png');
}
#login h2 {
  font-size: 53px;
  color: #fff;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 50px;
  margin: 50px 0 0 0;
}
#login .login-box {
  padding: 30px;
  box-sizing: border-box;
}
#login p {
  font-size: 15px;
  color: #fff;
  font-weight: lighter;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #fff;
}
#login .logo-disruptiv {
  float: left;
  width: 150px;
  margin-top: 90px;
}
#login .link-atendimento {
  margin-top: 110px;
  float: right;
  font-size: 15px;
  color: #fff;
  font-weight: lighter;
}
.login-form {}
.login-form img {}
.form-control:focus,
button:focus,
textarea:focus,
input:focus{
  outline: none;
  box-shadow: none;
}
.login-form input:focus,
.login-form input {
  padding-left: 0;
  border: none;
  background: transparent;
}
.login-form input::placeholder {
  line-height: 40px;
  text-transform: uppercase;
}
.login-form input[type="password"]::placeholder {
  position: relative;
  top: 4px;
}
.login-form button.btn-submit {
  border: none;
  line-height: 60px;
  padding: 0;
  background: #303a54;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  font-size: 23px;
  margin-top: 15px;
  font-weight: normal;
}
.login-form .input-group-text {
  background: transparent;
  color: #82828a;
  font-size: 25px;
  border: none;
}
.login-form .input-group{
  background: #dfdfdf;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 20px;
}
form > .row {
  margin: 0;
}
.login-form .login-box{
  padding: 25px;
}
.login-form img {
  display: block;
  margin: 20px auto 35px auto;
}
.login-form .link-esqueci-senha {
  color: #82828a;
  text-transform: uppercase;
  font-size: 15px;
  float: right;
  margin-top: 20px;
}
.login-form .link-esqueci-senha i {
  position: relative;
  top: -1px;
  margin-left: 4px;
}
.login-form.fancybox-content {
  width: 100%;
  max-width: 542px;
  padding: 20px 30px 70px 30px;
  border-radius: 6px;
}
.login-form.fancybox-content h3 {
  font-size: 18px;
  color: #7f7f7f;
  margin:0;
}
#login .login-form.fancybox-content p {
  font-size: 15px;
  color: #7f7f7f;
  margin:0;
}
#login .esqueci-senha-success p {
  text-align: center;
  margin: 0;

}
#login .esqueci-senha-success button.btn-submit {
  background: #76d308;
  margin: 70px auto 0 auto;
  font-size: 19px;
  width: auto;
  display: block;
  padding: 0 20px;
}
#login .esqueci-senha-success i {
  font-size: 40px;
  position: relative;
  top:3px;
}

/** NOVA MENSAGEM */

#pagina-nova-mensagem {}
#pagina-nova-mensagem section {
  padding: 30px;
}
#pagina-nova-mensagem .section.idiomas .tab.add {
  background: #414d69;
  border: none;
  color: #fff;
  float: right;
}
#pagina-nova-mensagem .section.idiomas .tab.add i {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  background: #43b05c;
  line-height: 20px;  
  border-radius: 15px;
  position: relative;
  top: 7px;
}
#pagina-nova-mensagem .btn-add {
  background: #414d69;
  border: none;
  color: #fff;
  float: right;
}
#pagina-nova-mensagem .btn-add i {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 10px;
  color: #fff;
  background: #43b05c;
  line-height: 20px;  
  border-radius: 15px;
  position: relative;
  top: 7px;
}
#pagina-nova-mensagem .badge-promocao {
  background: transparent;
  border: 1px solid #fff;
}
#pagina-nova-mensagem {}
#pagina-nova-mensagem {}
#pagina-nova-mensagem {}
#pagina-nova-mensagem {}
#pagina-nova-mensagem {}
#pagina-nova-mensagem {}

  aside header button.hidden-sm {
    display: none;
  }


/** SCROLBARS */
.custom-scrollbar
{
    position: relative;
    width: 100%;
}

.custom-scrollbar .viewport
{
    width: 100%;
    height: 135px;
    overflow:hidden;
    position:relative;
}

.custom-scrollbar .overview
{
    width: 100%;
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding: 0;
}

.custom-scrollbar .scrollbar
{
    background:transparent;
    position:absolute;
    background-position:0 0;
    right: -30px;
    top:0;
    width:5px;
}

.custom-scrollbar .track
{
    background: #e0e0e0;
    height:100%;
    width: 5px;
    position:relative;
    padding:0 1px;
    border-radius: 5px;
}

.custom-scrollbar .thumb
{
    background: #666666;
    height:20px;
    width:5px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    border-radius: 5px;
}

.custom-scrollbar .thumb .end
{
    background:transparent ;
    overflow:hidden;
    height:5px;
    width:5px;
}

.custom-scrollbar .disable
{
    display:none;
}



/** SCROLBARS CIDADES */
.custom-scrollbar-cidades
{
    position: relative;
    width: 100%;
}

.custom-scrollbar-cidades .viewport
{
    width: 100%;
    height: 135px;
    overflow:hidden;
    position:relative;
}

.custom-scrollbar-cidades .overview
{
    width: 100%;
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding: 0;
}

.custom-scrollbar-cidades .scrollbar
{
    background:transparent;
    position:absolute;
    background-position:0 0;
    right: 0;
    top:0;
    width:5px;
}

.custom-scrollbar-cidades .track
{
    background: #e0e0e0;
    height:100%;
    width: 5px;
    position:relative;
    padding:0 1px;
    border-radius: 5px;
}

.custom-scrollbar-cidades .thumb
{
    background: #666666;
    height:20px;
    width:5px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    border-radius: 5px;
}

.custom-scrollbar-cidades .thumb .end
{
    background:transparent ;
    overflow:hidden;
    height:5px;
    width:5px;
}

.custom-scrollbar-cidades .disable
{
    display:none;
}

.noSelect
{
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}


/** POPUP ADICIONAR VEICULO */

.popup-veiculo {
  max-width: 643px;
  border-radius: 6px;
}
.popup-veiculo hr {
  margin: 30px 0;
}
.popup-veiculo .actions {
  display: table;
  width: 100%;
}
.remove-veiculo,
.remove-veiculo:hover {
  float: right;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  background: #d75a4a;
  border-radius: 15px;
  font-size: 12px;
  margin-top: 15px;
  position: absolute;
  right: 0;
  top:0;
}
#pagina-nova-mensagem .section.veiculos td {
  line-height: 40px;
}
#pagina-nova-mensagem .section.aprovadores td {
   line-height: 40px;
}
#pagina-nova-mensagem .section.aprovadores label {
  float: right;
  margin: 15px 0 0 0;
}
#pagina-nova-mensagem .section.aprovadores input {
  display:none;
}
#pagina-nova-mensagem .section.aprovadores input + div {
  border: 1px solid #919191;
  border-radius: 3px;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
}
#pagina-nova-mensagem .section.aprovadores input:checked + div:before {
  content: "\f00c";
  color: #4eb22b;
  font-family: FontAwesome;
}
#pagina-nova-mensagem {}
#pagina-nova-mensagem .datas {
  width: 66%;
  display: inline-block;
}
#pagina-nova-mensagem .datas ~ .actions {
  width: 33%;
  display: inline-block;
}
#pagina-nova-mensagem .datas > div {
  width: 49%;
  margin: 0;
  display: inline-block;
}
#pagina-nova-mensagem .actions {
  margin: 0;
}
#pagina-nova-mensagem .actions i {
  padding-right: 15px;
  margin-right: 15px;
  border-right:2px solid #fff;
  font-size: 23px;
}
#pagina-nova-mensagem .actions button {
  font-size: 23px;
  padding: 8px 55px 8px 45px;
  background: #58bc27;
  color: #fff;
  float: right;
  margin-top: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
#pagina-nova-mensagem .datas input {
  padding: 10px;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  margin-top:5px;
  width: 90%;
}
#pagina-nova-mensagem section {
  margin-bottom: 300px;
}
#form-nova-mensagem {
  padding: 0;
}
#pagina-nova-mensagem .col-sel-regiao {
  background: #414d69;
}
#pagina-nova-mensagem .col-sel-regiao h3 {
  font-size: 20px;
  font-weight: lighter;
  padding: 10px 0;
  margin: 10px 0;
  color: #fff;
  border-bottom: 2px solid #d6d6d6;
}
#pagina-nova-mensagem .col-sel-regiao h3 label {
  font-size: 18px;
  font-weight: lighter;
  float: right;
  white-space: nowrap;
}
#pagina-nova-mensagem .col-sel-regiao h3 label input {
  display: none;
}
#pagina-nova-mensagem .col-sel-regiao h3 label input + div {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #fff;
  margin-right: 3px;
  position: relative;
}
#pagina-nova-mensagem .col-sel-regiao h3 label input:checked + div:before {
  content: "\f00c";
  color: green;
  font-size: 10px;
  font-family: FontAwesome;
  position: absolute;
  top: 0px;
  left: 1px;
}
#pagina-nova-mensagem .col-sel-regiao ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#pagina-nova-mensagem .col-sel-regiao li {

}
#pagina-nova-mensagem .col-sel-regiao li label {
  width: 100%;
}
#pagina-nova-mensagem .col-sel-regiao li input {
  display: none;
}
#pagina-nova-mensagem .col-sel-regiao li input + div {
  display: block;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #414d69;
  color: #fff;
  width: 100%;
}
#pagina-nova-mensagem .col-sel-regiao li input:checked + div {
  border: 1px solid #fff;
}

#pagina-nova-mensagem .col-sel-estado .viewport {
  height: 183px;
}
#pagina-nova-mensagem .col-sel-estado .scrollbar {
  right: 0;
}
#pagina-nova-mensagem .col-sel-estado {
  background: #f0f0f0;
  border-right: 1px solid #dadada;
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}
#pagina-nova-mensagem .col-sel-estado h3 {
  font-size: 20px;
  font-weight: lighter;
  padding: 10px 0;
  margin: 10px 0;
  color: #7e7e7e;
  border-bottom: 2px solid #d6d6d6;
}
#pagina-nova-mensagem .col-sel-estado h3 label {
  font-size: 18px;
  font-weight: lighter;
  float: right;
  white-space: nowrap;
}
#pagina-nova-mensagem .col-sel-estado h3 label input {
  display: none;
}
#pagina-nova-mensagem .col-sel-estado h3 label input + div {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #fff;
  margin-right: 3px;
  position: relative;
  border: 1px solid #7d7d7d;
}
#pagina-nova-mensagem .col-sel-estado h3 label input:checked + div:before {
  content: "\f00c";
  color: green;
  font-size: 10px;
  font-family: FontAwesome;
  position: absolute;
  top: 0px;
  left: 1px;
}
#pagina-nova-mensagem .col-sel-estado ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.e-regiao {
  display: none;
}
.e-cidade {
  display: none;
}
.e-cidade.active {
  display: block;
}
.tabs-cidades li.e-tab {
  display: none;
}
.tabs-cidades li.e-tab.visible {
  display: inline-block;
}
#pagina-nova-mensagem .col-sel-estado li {
  width: 90%;
}
#pagina-nova-mensagem .col-sel-estado li label {
  width: 100%;
}
#pagina-nova-mensagem .col-sel-estado li input {
  display: none;
}
#pagina-nova-mensagem .col-sel-estado li input + div {
  display: block;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #f0f0f0;
  color: #5d5d5d;
  width: 100%;
}
#pagina-nova-mensagem .col-sel-estado li input:checked + div {
  border: 1px solid #5d5d5d;
}
#pagina-nova-mensagem .col-sel-regiao li input:checked ~ div:after {
  content: 'x';
  display: inline-block;
  float: right;
}
#pagina-nova-mensagem .col-sel-estado li input:checked ~ div:after {
  content: 'x';
  display: inline-block;
  float: right;
}
#pagina-nova-mensagem .col-sel-cidade li input:checked ~ div:after {
  content: 'x';
  display: inline-block;
  float: right;
}

#pagina-nova-mensagem .col-sel-cidade {
  background: transparent;
}
#form-nova-mensagem .popup-detalhes .header {
  overflow: initial;
  display: table;
}
.box-select-cidades .select-todas {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 99;
}
.tipo-mensagem .badge-promocao input {
  display: none;
}
.tipo-mensagem .badge-promocao input ~ div{
  display: none;
}
.tipo-mensagem .badge-promocao input:checked ~ div{
  display: block;
}
.tipo-mensagem .submenu-tipo-mensagem label {
  display: block;
  border: 1px solid #2d323e;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 15px;
}
.tipo-mensagem .submenu-tipo-mensagem label:hover {
  border: 1px solid #fff;
}
.tipo-mensagem .submenu-tipo-mensagem:before{
  content: "\f0d8";
  text-align: right;
  padding-right: 20px;
  line-height: 10px;
  color: #2d323e;
  width: 100%;
  font-family: FontAwesome;
  font-size: 24px;
  float: right;
  display: table;
}
.tipo-mensagem .submenu-tipo-mensagem{
  position: absolute;
  top: 40px;
  right: 0;
  padding-top: 20px;
  z-index:9;
  display: none;
}
.tipo-mensagem .submenu-tipo-mensagem-inner{
  background: #2d323e;
  width: 203px;
  padding: 15px 10px;
  margin-top:9px;
}
.tipo-mensagem {
  position: relative;
}
.tipo-mensagem .submenu-tipo-mensagem:hover,
.tipo-mensagem .badge-promocao:hover ~ .submenu-tipo-mensagem {
  display: block;
}
.tipo-mensagem .badge-promocao label {
  margin: 0;
  font-size: 13px;
  font-weight: bold;
}
.tipo-mensagem .badge-promocao{
  text-align: center;
}
.tipo-mensagem .badge-promocao input {
  border: none;
}
.box-select-cidades {
  padding: 5px;
  border: 1px solid #7d7d7d;
  position: relative;
}
.box-select-cidades ul {
  width: 50%;
}
#pagina-nova-mensagem .col-sel-cidade ul.tabs-cidades {
  margin-bottom: 10px;
}
.tabs-cidades li {
  display: inline-block;
  line-height: 36px;
  font-size: 14px;
  padding: 0 15px;
  border: 1px solid transparent;
  cursor: pointer;
}
.tabs-cidades li.active {
  background: #414d69;
  color: #fff;
  border: 1px solid #b8b8b8;
}
p.help {
  color: #7b7a7a;
  font-size: 13px;
  padding: 25px 0 0 25px;
}
p.help i {
  width: 18px;
  height: 18px;
  background: #414d69;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 12px;
  border-radius: 20px;
}
.select-todas {
  font-size: 18px;
  font-weight: lighter;
  float: right;
  white-space: nowrap;
}
.select-todas input {
  display: none;
}
.select-todas input + div {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #fff;
  margin-right: 3px;
  position: relative;
  border: 1px solid #7d7d7d;
}
.select-todas input:checked + div:before {
  content: "\f00c";
  color: green;
  font-size: 10px;
  font-family: FontAwesome;
  position: absolute;
  top: -1px;
  left: 1px;
}
#pagina-nova-mensagem .col-sel-cidade h3 {
  font-size: 20px;
  font-weight: lighter;
  padding: 10px 0;
  margin: 10px 0;
  color: #7e7e7e;
  border-bottom: 2px solid #d6d6d6;
}
#pagina-nova-mensagem .col-sel-cidade h3 label {
  font-size: 18px;
  font-weight: lighter;
  float: right;
  white-space: nowrap;
}
#pagina-nova-mensagem .col-sel-cidade h3 label input {
  display: none;
}
#pagina-nova-mensagem .col-sel-cidade h3 label input + div {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #fff;
  margin-right: 3px;
  position: relative;
  border: 1px solid #7d7d7d;
}
#pagina-nova-mensagem .col-sel-cidade h3 label input:checked + div:before {
  content: "\f00c";
  color: green;
  font-size: 10px;
  font-family: FontAwesome;
  position: absolute;
  top: 0px;
  left: 1px;
}
#pagina-nova-mensagem .col-sel-cidade ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#pagina-nova-mensagem .col-sel-cidade li {

}
#pagina-nova-mensagem .col-sel-cidade li label {
  width: 100%;
}
#pagina-nova-mensagem .col-sel-cidade li input {
  display: none;
}
#pagina-nova-mensagem .col-sel-cidade li input + div {
  display: block;
  line-height: 30px;
  padding: 0 10px;
  border: 1px solid #f0f0f0;
  color: #5d5d5d;
  width: 100%;
}
#pagina-nova-mensagem .col-sel-cidade li input:checked + div {
  border: 1px solid #5d5d5d;
}
#pagina-nova-mensagem {

}
.popup-veiculo .actions a {
  font-size: 18px;
  font-weight: lighter;
  padding: 10px 15px;
  border-radius: 6px;
  margin-left: 10px;
}
.tipo-mensagem-form {
  overflow: hidden;
}
.tipo-mensagem-form small {
  display: table;
  clear: both;
  margin-bottom: 5px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 15px;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  margin: 0 10px;
  width: 80px;
  display: inline-block;
}
.ui-datepicker td span, .ui-datepicker td a {
  padding: 5px 10px;
  text-align: left;
}
.popup-veiculo .actions a.adicionar {
  background: #18b718;
  color: #fff;
}
.popup-veiculo .actions a.fechar {
  background: #d8d8d8;
  color: #7f7f7f;
}
.popup-veiculo p {
  font-size: 18px;
  font-weight: normal;
  color: #7f7f7f;
  line-height: 18px;
}
.popup-veiculo label {
  margin-top: 15px;
  font-size: 18px;
  font-weight: lighter;
  color: #7a7a7a;
  line-height: 18px;
}
.popup-veiculo select {
  font-size: 18px;
  font-weight: lighter;
  color: #7a7a7a;
}
.section.veiculos td {
  position: relative;
}
.section.veiculos td input  {
  padding: 0;
  background: transparent;
  border: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  width: 100%;

}
input[readonly]  {
  background: #fff;
}
.popup-veiculo {}
.popup-veiculo {}
.popup-veiculo {}
.popup-veiculo {}
.popup-veiculo {}
.popup-veiculo {}
.popup-veiculo {}
.ui-datepicker {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.popup-idioma {}
.popup-idioma img {
  width: 16px;
}
.popup-idioma label {
  display: block;
}
.popup-idioma {
  max-width: 536px;
  width: 100%;

}
.popup-idioma input {
  display: none;
}
.popup-idioma input + div {
  padding: 5px;
  border: 1px solid #fff;
}
.popup-idioma input:checked + div {
  border: 1px solid #aaa;
}
.popup-idioma input:checked + div:after {
  content: 'x';
  float: right;
}
#pagina-nova-mensagem .popup-detalhes .section.idiomas .tab.idioma {
  display: none;
}
#pagina-nova-mensagem .popup-detalhes .section.idiomas .tab.idioma.enabled {
  display: inline-block;
}
#pagina-nova-mensagem .popup-detalhes .section.idiomas .tab-content {
  display: none;
}
#pagina-nova-mensagem .popup-detalhes .section.idiomas .tab-content.enabled {
  display: none;
}
#pagina-nova-mensagem .popup-detalhes .section.idiomas .tab-content.enabled.active {
  display: block;
}
.ui-datepicker {
  width: 20em;
  padding: 15px;
}
#form-novo-aprovador {
  padding: 0;
}
#form-novo-aprovador {
  
}
#form-novo-aprovador input {
  width: 100%;
  color: #858484;
  height: 45px;
  padding: 0 15px;
  border: 1px solid #dadada;
}
#form-novo-aprovador select {
  width: 100%;
  height: 45px;
  padding: 0 15px;
  color: #858484;
  border-radius: 0;
  border: 1px solid #dadada;
}
#form-novo-aprovador h2 {
  color: #414d69;
  font-size: 23px;
  font-weight: lighter;
  margin-bottom: 50px;
  text-transform: uppercase;
}
#form-novo-aprovador label {
  font-size: 18px;
  font-weight: lighter;
  color: #858484;
  margin-top: 15px;
}
#form-novo-aprovador .section-footer button{
  margin-top: 230px;
}


/** LISTA APROVADORES */
#lista-aprovadores {}
#lista-aprovadores .link-remover {
  font-size: 12px;
  color: #fff;
  background: #e90202;
  padding: 4px;
  border-radius: 4px;
}
#lista-aprovadores .btn-remover {
  padding: 0;
  line-height: 66px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background: #ff4200;
  width: 100%;
}
#lista-aprovadores .btn-cancelar {
  padding: 0;
  line-height: 66px;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background: #313745;
  width: 100%;
  margin-top: 15px;
}
#lista-aprovadores .confirmar-remocao h3 {
  color: #7f7f7f;
}
#lista-aprovadores .confirmar-remocao p {
  color: #7f7f7f;
  font-size: 15px;
  margin: 50px 0 30px 0;
}
#lista-aprovadores .status-confirmado {
  color: #087b26;
}
#lista-aprovadores .status-convite {
  color: #0a6b98;
}
#lista-aprovadores .status-enviado {
  color: #dc4206;
}
#mensagens table.lista tbody tr:nth-child(odd) {
  background: #f5f5f5;
}
.formato-mensagem{
  display: none;
}
.dropzone {
  border: 1px solid #dadada;
  margin-bottom: 82px;
}
.form-veiculo.popup-veiculo {
  width: 100%;
}
.form-veiculo.popup-veiculo hr {
  margin: 5px 0;
}
.table-selecionar-veiculo ~ hr {
  margin-bottom: 30px;
}
.table-selecionar-veiculo {
  margin-top: 30px;
  margin-bottom: 30px;
}
.table-selecionar-veiculo th:first-child {
  padding-left: 30px;
}
.table-selecionar-veiculo th {
  color: #707070;
  font-weight: normal;
  padding: 0 5px;
}
.table-selecionar-veiculo tbody tr:nth-child(odd) {
  background: #f2f2f2;
}
.table-selecionar-veiculo td {
  color: #707070;
  font-weight: lighter;
  padding: 0 5px;
}
.table-selecionar-veiculo label {}
.table-selecionar-veiculo label input {display:none;}
.table-selecionar-veiculo label input ~ div {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #dadada;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}
.table-selecionar-veiculo label input:checked ~ div:before {
  content: "\f00c";
  color: green;
  font-size: 12px;
  font-family: FontAwesome;
  position: absolute;
  top: -2px;
  left: 1px;
}
.table-selecionar-veiculo {}
.table-selecionar-veiculo {}
@media all and (max-width: 600px) {
  aside header button.hidden-xs {
    display: none;
  }
  aside header button.hidden-sm {
    display: block;
  }
  aside {
    width: 100%;
    position: relative;
  }
  main {
    width: 100%;
    padding: 0;
  }
  main section table.lista {
    width: 1300px;
  }
  .user-info, nav {
    display: none;
  }
  main section {
    margin: 15px;
    box-shadow: none;
  }
  main section > form {
    overflow: hidden;
  }
  main section > form button {
    background: #fff;
  }

  /** SCROLBARS HORIZONTAL */
  .custom-scrollbar-h
  {
      position: relative;
      width: 100%;
  }

  .custom-scrollbar-h .viewport
  {
      width: 100%;
      height: auto;
      overflow:hidden;
      position:relative;
  }

  .custom-scrollbar-h .overview
  {
      width: 100%;
      list-style:none;
      position:absolute;
      left:0;
      top:0;
      margin:0;
      padding: 0;
  }

  .custom-scrollbar-h .scrollbar
  {
      background:transparent;
      position:absolute;
      background-position:0 0;
      left: 0;
      bottom:0;
      height:5px;
  }

  .custom-scrollbar-h .track
  {
      background: #e0e0e0;
      height: 5px;
      width: 100%;
      position:relative;
      padding:0 1px;
      border-radius: 5px;
  }

  .custom-scrollbar-h .thumb
  {
      background: #666666;
      height:5px;
      width: 20px;
      cursor:pointer;
      overflow:hidden;
      position:absolute;
      bottom:0;
      left:0;
      border-radius: 5px;
  }

  .custom-scrollbar-h .thumb .end
  {
      background:transparent ;
      overflow:hidden;
      height:5px;
      width:5px;
  }

  .custom-scrollbar-h .disable
  {
      display:none;
  }
  main section table.lista thead {
    display: none;
  }
  
  main section table.lista td {
    display: block;
    padding: 15px 15px 0 15px!important;
  }
  main section table.lista tbody tr:nth-child(odd) {
    background: #f5f5f5;
  }
  main section table.lista td::before {
    content: attr(data-title);
    font-weight: bold;
    margin-right: 15px;
    display: block;
  }
  table.table-responsive {
    width: 100%;
    display: block;
  }
  table.table-responsive tbody {
    width: 100%;
    display: block;
  }
  table.table-responsive thead {
    display: none;
  }
  
  table.table-responsive tr {
    width: 100%;
    display: block;
  }
  table.table-responsive td {
    width: 100%;
    display: block;
    padding: 15px 15px 15px 15px!important;
  }
  table.table-responsive tbody tr:nth-child(odd) {
    background: #e5e5e5;
  }
  table.table-responsive td::before {
    content: attr(data-title);
    font-weight: bold;
    margin-right: 15px;
    display: block;
  }
  .popup-detalhes .section.veiculos .section-content {
    padding: 0;
  }
  .popup-detalhes .section.localizacao .section-content {
    padding: 0;
  }
  .popup-detalhes .section.aprovadores .section-content {
    padding: 0;
  }
  .custom-scrollbar .viewport {
    height: 300px!important;
  }

  td .pull-right a {
    margin-left: 0;
    margin-right: 15px;
  }
  td .pull-right {
    float: none;
    margin-bottom: 30px;
  }
  table {
    overflow-x:auto;
    width: 1600px;
  }
  main section > form {
    padding-left: 15px;
    padding-right: 15px;
  }
  main section > form .input-group.mb-2 {
    max-width: 130px;
  }
  main .breadcrumbs {
    display:table;
    margin: 15px auto;
    text-align: center;
    float: none;
  }
  main header .btn {
    display: table;
    margin: 15px auto;
    float: none;
  }
  main header {
    padding: 15px;
    height: auto;
  }
  #pagina-nova-mensagem section {
    padding: 15px;
  }
  #pagina-nova-mensagem .actions button {
    padding: 15px!important;
    width: 100%;
    margin-top: 30px!important;
  }
  #form-novo-aprovador .col-md-6 {
    padding: 0;
  }
  .tipo-mensagem-form {
    width: 100%;
  }
  .popup-detalhes .section.idiomas .tab {
    padding: 10px;
    font-size: 14px;
  }
  .popup-detalhes .section.idiomas .section-header {
    height: 55px;
  }
  .popup-detalhes .header > div {
    font-size: 12px;
  }
  .popup-detalhes .tipo-mensagem {
    width: 100%;
  }
  .popup-detalhes .select-tipo-mensagem {
    width: 100%;
  }
  .popup-detalhes .datas > div {
    display: block;
    float: left;
    clear: both;
    margin: 0!important;
  }
  .popup-detalhes .datas > div strong {
    display: block;
  }
  #pagina-nova-mensagem .badge-promocao {
    padding-left: 10px;
    padding-right: 10px;
  }
  #pagina-nova-mensagem .col-sel-regiao h3 {
    padding: 15px;
  }
  #pagina-nova-mensagem .col-sel-estado h3 {
    padding: 15px;
  }
  #pagina-nova-mensagem .col-sel-cidade h3 {
    padding: 15px;
  }
  p.help {
    padding: 15px;
  }
  #pagina-nova-mensagem .btn-add {
    font-size: 15px;
  }
  .remove-veiculo, .remove-veiculo:hover {
    top: -110px;
    right: 15px;
  }
  #pagina-nova-mensagem .section.aprovadores td {
    position: relative;
  }
  #pagina-nova-mensagem .section.aprovadores label {
    position: absolute;
    top: -210px;
    right: 15px;
  }
  #pagina-nova-mensagem .datas {
    width: 100%;
  }
  #pagina-nova-mensagem .datas ~ .actions {
    width: 100%;
  }
  #pagina-nova-mensagem .datas > div {
    width: 100%;
  }
  #pagina-nova-mensagem .datas > div br {
    display: none;
  }
  #pagina-nova-mensagem .datas input {
    margin: 0;
    padding: 0;
  }
  .table-selecionar-veiculo td {
    position: relative;
  }
  .table-selecionar-veiculo label {
    position: absolute;
    top: 0px;
    right: 15px;
  }
}