﻿@model Cosmos.Portal.ViewModel.SOViewModel
@{
    ViewBag.Title = "Edição de SO";
}

<div class="row wrapper">
    <div class="col-sm-12">
        <h2>Edição de SO</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Edição de SO</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important">
                <form method="post" class="form-horizontal" action="~/SO/Update" id="frmUpdate">

                    @Html.HiddenFor(m => m.SO.Id, new { @value = @Model.SO.Id, @name = "Id" })
                    @Html.HiddenFor(m => m.SO.Status, new { @id = "hdStatus" })

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.Partial("DropDownStatus_", Model.SO.Status == true ? 1 : 0)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.SO.Brand.Id, new SelectList(Model.brands, "Id", "Name"), Model.brand.Name, new { @id = "cboBrand", @class = "form-control", @required = "required", @onchange = "getVehicles(this.value);" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <select id="listVehicles" name="listVehicles" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.SO.Version,
                                new
                                {
                                    @class = "form-control space",
                                    @placeholder = "Nome do SO",
                                    @required = "required",
                                    @id = "iDescription"
                                })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1">
                            <label>Ano Fabricação</label>
                            @Html.TextBoxFor(m => m.SO.YearFab,
                                new
                                {
                                    @class = "form-control space",
                                    @placeholder = "Ano Fab",
                                    @required = "required",
                                    @id = "iDescription"
                                })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1">
                            <label>Ano Modelo</label>

                            @Html.TextBoxFor(m => m.SO.YearModel,
                                new
                                {
                                    @name = "txtYearModel",
                                    @class = "form-control space",
                                    @placeholder = "Modelo",
                                    @required = "required",
                                    @id = "iDescription"
                                })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-1">
                            <label>Ano Modelo</label>
                            @Html.TextBoxFor(m => m.SO.ReleaseDate, "{0:dd/MM/yyyy}",
                                new
                                {
                                    @name = "txtReleaseDate",
                                    @class = "form-control date-picker",
                                    @placeholder = "ReleaseDate",
                                    @required = "required",
                                    @id = "txtReleaseDate"
                                })
                        </div>
                    </div>

                    @Html.HiddenFor(m => m.SO.Status, new { @value = Model.SO.Status })
                    <div class="col-sm-offset-0">
                        <button type="submit" class="btn btn-primary medio">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/cbotUserTypeMethods")
    @Scripts.Render("~/plugins/validate")

    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>

    <script type="text/javascript">
        $.noConflict();
        jQuery(document).ready(function ($) {
            $(function () {
                $('#txtReleaseDate').datepicker({
                    dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                    dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                    dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                    monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior'
                });
            });
        });

        $(document).ready(function () {

            $("#frmUpdate").submit(function (event) {

                event.preventDefault();

                $('#hdStatus').val($('#cboStatus').val() == 0 ? false : true);

                if (confirmStatus($("#frmUpdate"))) {
                    $.ajax({
                        type: "POST",
                        url: '/SO/Update',
                        data: $('#frmUpdate').serialize(),
                        success: function(response) {
                            if (response.result == "Fail") {
                                toastr.error(response.msg, "Atualização de Dados");
                            } else {

                                toastr.success(response.msg, "Atualização de Dados");

                                var interval_ = setInterval(function() {
                                        clearInterval(interval_);
                                        window.location = response.url;
                                    },
                                    3000);

                            }
                        }
                    });
                }
            });

            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });

            //validation
            $("#frmUpdate").validate();
            $('#iDescription').attr("data-msg", "Informe o nome do SO");
        });

        function getVehicles(brandId) {
            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("GetVehicleList")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ brandId: brandId }),
                success: function (data) {
                    fillVehicleList(data);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }
        function fillVehicleList(data) {
            $('#listVehicles').empty();
            var content = "";

            $.each(data, function (index, value) {
                content += '<option value=' + value.Id + '>' + value.Name + '</option>';
            });

            $('#listVehicles').html(content);
        }
    </script>
}