﻿@model Cosmos.Portal.ViewModel.SOViewModel
@{
    ViewBag.Title = "Cadastro de SO";
}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css" />

<div class="row wrapper">
    <div class="col-sm-12">
        <h2>Cadastro de SO</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Principal</a>
            </li>
            <li class="active">
                <strong>Cadastro de SO</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content" style="background-color:transparent!important; border:none!important">
                <form method="post" class="form-horizontal" action="~/SO/Insert" id="frmAddNewSO">

                    @Html.HiddenFor(m => m.SO.Id, new { @id = "hdId" })

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.DropDownListFor(model => model.SO.Brand.Id, new SelectList(Model.brands, "Id", "Name"), "Selecione a montadora", new { @name = "cboBrand", @id = "cboBrand", @class = "form-control", @onchange = "getVehicles(this.value);" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <select id="listVehicles" name="listVehicles" class="form-control"></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            @Html.TextBoxFor(m => m.SO.Version,
                                new
                                {
                                    @name = "txtVersion",
                                    @class = "form-control space",
                                    @required = "required",
                                    @id = "txtVersion"
                                })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>Ano Fabricação</label>

                            @Html.TextBoxFor(m => m.SO.YearFab,
                                new
                                {
                                    @name = "txtYearFab",
                                    @class = "form-control space",
                                    @required = "required",
                                    @id = "iDescription"
                                })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>Ano Modelo</label>

                            @Html.TextBoxFor(m => m.SO.YearModel,
                                new
                                {
                                    @name = "txtYearModel",
                                    @class = "form-control space",
                                    @required = "required",
                                    @id = "iDescription"
                                })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label>Release Date</label>

                            @Html.TextBoxFor(m => m.SO.ReleaseDate,
                                new
                                {
                                    @name = "txtReleaseDate",
                                    @class = "form-control date-picker",
                                    @required = "required",
                                    @id = "txtReleaseDate"
                                })
                        </div>
                    </div>

                    <div class="col-sm-offset-0">
                        <button type="submit" class="btn btn-primary medio">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/inputMask")
    @Scripts.Render("~/plugins/cbotUserTypeMethods")
    @Scripts.Render("~/plugins/validate")

    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>

    <script type="text/javascript">

        $.noConflict();
        jQuery(document).ready(function ($) {
            $(function () {
                $('#txtReleaseDate').datepicker({   dateFormat: 'dd/mm/yy',
                    dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
                    dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
                    dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
                    monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
                    monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
                    nextText: 'Próximo',
                    prevText: 'Anterior'});
            });
        });
        $(document).ready(function () {

            $('#frmAddNewSO').on('submit', function (event) {

                event.preventDefault();

                $('#hdId').val("01");
                $('#hdStatus').val($('#cboStatus').val() == 0 ? false : true);

                $.ajax({
                    type: "POST",
                    url: '/SO/Insert',
                    data: $('#frmAddNewSO').serialize(),
                    success: function (response) {
                        if (response.result == "Fail") {
                            toastr.error(response.msg, "Cadastro de SO");
                        } else {

                            toastr.success(response.msg, "Cadastro de SO");

                            var interval_ = setInterval(function () {
                                    clearInterval(interval_);
                                    window.location = response.url;
                                },
                                3000);
                        }
                    }
                });

            });

            //validation
            $("#frmAddNewSO").validate();
            $('#iDescription').attr("data-msg", "Informe o nome do SO.");

            $('#iDescription').on("blur", function () {
                FieldValidate('iDescription', '/Category/CategoryNameValidator', { CategoryName: $('#iDescription').val() }, "Validação de Dados");
            });
        });

        function getVehicles(brandId) {
            jQuery.ajax({
                type: "POST",
                url: "@Url.Action("GetVehicleList")",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ brandId: brandId }),
                success: function (data) {
                    fillVehicleList(data);
                },
                failure: function (errMsg) {
                    alert(errMsg);
                }
            });
        }
        function fillVehicleList(data) {
            $('#listVehicles').empty();
            var content = "";

            $.each(data, function (index, value) {
                content += '<option value=' + value.Id + '>' + value.Name + '</option>';
            });

            $('#listVehicles').html(content);
        }
    </script>
}