﻿@model IEnumerable<Cosmos.Model.SO>

@{
    ViewBag.Title = "Cadastro de SO";
}

<div class="row wrapper border-bottom page-heading">
    <div class="col-sm-4">
        <h2>SO</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Lista de SO<small></small> </h5>
            </div>
            <div class="ibox-content">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="html5buttons">
                    </div>
                    <table class="table table-striped table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th class="text-left">Versão</th>
                                <th class="text-center">Ano Fabricação</th>
                                <th class="text-center">Ano Modelo</th>
                                <th class="text-center">Montadora</th>
                                <th class="text-center">Veículo</th>
                                <th class="text-center">Release Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (@Model != null)
                            {
                                foreach (var item in @Model)
                                {
                                    <tr>
                                        <td class="text-left">@item.Version</td>
                                        <td class="text-center">@item.YearFab</td>
                                        <td class="text-center">@item.YearModel</td>
                                        <td class="text-center">
                                            @if (item.Brand != null)
                                            {
                                                @item.Brand.Name
                                            }
                                        </td>
                                        <td class="text-center">
                                            @if (item.Vehicle != null)
                                            {@item.Vehicle.Name}
                                    </td>
                                    <td class="text-center">@string.Format("{0:dd/MM/yyyy}", item.ReleaseDate)</td>
                                    <td class="text-center">@Html.ActionLink("Editar", "Edit", "SO", new { SOId = item.Id }, new { @class = "btn btn-primary btn-xs" })</td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}